In [35]:
import pickle
import re
from sklearn.metrics import confusion_matrix
import requests, bs4
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn import svm
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score
from sklearn import preprocessing
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
import os

In [49]:
db = pd.read_csv('WNBA16.csv')

In [15]:
team_abbrevs = {
    'Atlanta Dream': 'ATL',
    'Washington Mystics': 'WAS',
    'Connecticut Sun': 'CON',
    'Chicago Sky': 'CHI',
    'New York Liberty': 'NYL',
    'Indiana Fever': 'IND',
    'Seattle Storm': 'SEA',
    'Phoenix Mercury': 'PHO',
    'L.A. Sparks':'LAS',
    'Minnesota Lynx': 'MIN',
    'Dallas Wings': 'DAL',
    'Las Vegas Aces': 'LVA'
}

In [10]:
def date_formatter(date):

    if len(str(date.month)) != 2:
        month = '0'+ str(date.month)
    else:
        month = str(date.month)
        
    if len(str(date.day)) != 2:
        day = '0' + str(date.day)
    else:
        day = str(date.day)
        
    newdate = str(date.year) + month + day
    return newdate

In [11]:
db['Date'] = pd.to_datetime(db['Date'])
db['Date'] = db['Date'].apply(date_formatter)

In [16]:
db['Date']

0      20180520
1      20180523
2      20180526
3      20180529
4      20180603
5      20180605
6      20180608
7      20180610
8      20180612
9      20180614
10     20180616
11     20180619
12     20180622
13     20180627
14     20180629
15     20180701
16     20180706
17     20180708
18     20180711
19     20180713
20     20180715
21     20180717
22     20180719
23     20180722
24     20180724
25     20180731
26     20180803
27     20180805
28     20180807
29     20180809
         ...
376    20180531
377    20180601
378    20180603
379    20180608
380    20180610
381    20180612
382    20180613
383    20180615
384    20180617
385    20180619
386    20180622
387    20180624
388    20180627
389    20180629
390    20180701
391    20180705
392    20180707
393    20180710
394    20180713
395    20180715
396    20180719
397    20180722
398    20180801
399    20180805
400    20180807
401    20180809
402    20180811
403    20180815
404    20180817
405    20180819
Name: Date, Length: 406, dtype: int64

In [103]:
# Moneyline scrape

scraped_dates = []
moneydb = pd.DataFrame()

for date in db['Date']:
    
    #if date == 20160616:
     #   pass
    
    if date not in scraped_dates:
        print("Date: ", date)
        url = f'https://www.sportsbookreview.com/betting-odds/wnba-basketball/money-line/?date={date}'
        res = requests.get(url, 'html.parser')
        res.raise_for_status()
        soup = bs4.BeautifulSoup(res.text, 'lxml')
        linesoup = soup.find('div', {'id':'bettingOddsGridContainer'})
        test_teams = linesoup.find_all('span', {'class':'_3O1Gx'})
        teams = [team_abbrevs[team.get_text()] for team in test_teams]
        test_lines = linesoup.find_all('span', {'class':'opener'})
        lines = [line.get_text() for line in test_lines if line.get_text().startswith('-') and len(line.get_text()) > 1 or line.get_text().startswith('+') and len(line.get_text()) > 1]
        print("teams:",len(teams),"lines",len(lines))
        
        if len(teams) != len(lines):
            pass
        else:
            moneylines = {'Team':teams, 'ML Odds': lines, 'Date':[date]*len(teams)}
        
            MLdb = pd.DataFrame.from_dict(moneylines)
            moneydb = pd.concat([moneydb, MLdb])
            
        scraped_dates.append(date)
        
# moneydb.to_csv('MLodds.csv')

Date:  20180520
teams: 12 lines 12
Date:  20180523
teams: 6 lines 6
Date:  20180526
teams: 4 lines 4
Date:  20180529
teams: 6 lines 6
Date:  20180603
teams: 8 lines 8
Date:  20180605
teams: 4 lines 4
Date:  20180608
teams: 6 lines 6
Date:  20180610
teams: 8 lines 8
Date:  20180612
teams: 8 lines 8
Date:  20180614
teams: 2 lines 2
Date:  20180616
teams: 6 lines 6
Date:  20180619
teams: 10 lines 10
Date:  20180622
teams: 12 lines 12
Date:  20180627
teams: 6 lines 6
Date:  20180629
teams: 8 lines 8
Date:  20180701
teams: 10 lines 0
Date:  20180706
teams: 2 lines 2
Date:  20180708
teams: 6 lines 6
Date:  20180711
teams: 6 lines 6
Date:  20180713
teams: 8 lines 8
Date:  20180715
teams: 10 lines 10
Date:  20180717
teams: 4 lines 4
Date:  20180719
teams: 6 lines 6
Date:  20180722
teams: 8 lines 8
Date:  20180724
teams: 8 lines 8
Date:  20180731
teams: 6 lines 6
Date:  20180803
teams: 6 lines 6
Date:  20180805
teams: 8 lines 8
Date:  20180807
teams: 8 lines 8
Date:  20180809
teams: 6 lines 6
Date:  20180811
teams: 4 lines 4
Date:  20180812
teams: 10 lines 10
Date:  20180817
teams: 10 lines 10
Date:  20180819
teams: 12 lines 12
Date:  20180524
teams: 4 lines 4
Date:  20180601
teams: 6 lines 6
Date:  20180607
teams: 6 lines 6
Date:  20180609
teams: 2 lines 2
Date:  20180613
teams: 4 lines 4
Date:  20180615
teams: 6 lines 6
Date:  20180624
teams: 10 lines 10
Date:  20180626
teams: 8 lines 8
Date:  20180703
teams: 8 lines 8
Date:  20180705
teams: 10 lines 10
Date:  20180707
teams: 6 lines 6
Date:  20180720
teams: 6 lines 6
Date:  20180801
teams: 4 lines 4
Date:  20180808
teams: 4 lines 4
Date:  20180810
teams: 4 lines 4
Date:  20180814
teams: 6 lines 6
Date:  20180519
teams: 2 lines 2
Date:  20180525
teams: 4 lines 4
Date:  20180617
teams: 4 lines 4
Date:  20180710
teams: 6 lines 6
Date:  20180718
teams: 4 lines 4
Date:  20180725
teams: 2 lines 2
Date:  20180818
teams: 2 lines 2
Date:  20180602
teams: 4 lines 4
Date:  20180628
teams: 4 lines 4
Date:  20180721
teams: 4 lines 4
Date:  20180804
teams: 2 lines 2
Date:  20180806
teams: 2 lines 2
Date:  20180815
teams: 4 lines 4
Date:  20180522
teams: 4 lines 4
Date:  20180802
teams: 4 lines 4
Date:  20180527
teams: 6 lines 6
Date:  20180531
teams: 2 lines 2
Date:  20180714
teams: 2 lines 2
Date:  20180518
teams: 2 lines 2
Date:  20180530
teams: 2 lines 2
Date:  20180630
teams: 2 lines 2
Date:  20180712
teams: 2 lines 2

In [44]:
date = 20190524


url = f'https://www.sportsbookreview.com/betting-odds/wnba-basketball/money-line/?date={date}'
res = requests.get(url, 'html.parser')
res.raise_for_status()
soup = bs4.BeautifulSoup(res.text, 'lxml')
linesoup = soup.find('div', {'id':'bettingOddsGridContainer'})
test_teams = linesoup.find_all('span', {'class':'_3O1Gx'})
teams = [team_abbrevs[team.get_text()] for team in test_teams]
test_lines = linesoup.find_all('span', {'class':'opener'})
lines = [line.get_text() for line in test_lines if line.get_text().startswith('-') 
         and len(line.get_text()) > 1 or line.get_text().startswith('+') and len(line.get_text()) > 1]
print("teams:",len(teams),"lines",len(lines))
moneylines = {'Team':teams, 'ML Odds': lines, 'Date':[date]*len(teams)}

teams: 4 lines 0

In [45]:
teams

['DAL', 'ATL', 'IND', 'NYL']

In [ ]:
moneydb = pd.concat([moneydb, MLdb])

In [104]:
moneydb = moneydb.reset_index(drop = True)

In [105]:
moneydb.to_csv('moneydb18.csv', index = False)

In [106]:
db['Odds'] = np.zeros(len(db['Team']))

In [107]:
for i, date in enumerate(db['Date']):
    
    if date in list(moneydb['Date']):
        
        db['Odds'][i] = moneydb[(moneydb['Date'] == date) & (moneydb['Team'] == db['Team'][i])]['ML Odds']
        print("Team:", db['Team'][i], "Odds:", moneydb[(moneydb['Date'] == date) & (moneydb['Team'] == db['Team'][i])]['ML Odds'])
        
    else:
        db['Odds'][i] = np.nan

C:\Users\helgeson\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

Team: ATL Odds: 4    +170
Name: ML Odds, dtype: object
Team: ATL Odds: 12    +125
Name: ML Odds, dtype: object
Team: ATL Odds: 19    -155
Name: ML Odds, dtype: object
Team: ATL Odds: 25    +260
Name: ML Odds, dtype: object
Team: ATL Odds: 31    -102
Name: ML Odds, dtype: object
Team: ATL Odds: 39    +340
Name: ML Odds, dtype: object
Team: ATL Odds: 40    -200
Name: ML Odds, dtype: object
Team: ATL Odds: 52    +280
Name: ML Odds, dtype: object
Team: ATL Odds: 60    +310
Name: ML Odds, dtype: object
Team: ATL Odds: 63    -550
Name: ML Odds, dtype: object
Team: ATL Odds: 64    -220
Name: ML Odds, dtype: object
Team: ATL Odds: 72    +230
Name: ML Odds, dtype: object
Team: ATL Odds: 81    +210
Name: ML Odds, dtype: object
Team: ATL Odds: 92    +105
Name: ML Odds, dtype: object
Team: ATL Odds: 102    +800
Name: ML Odds, dtype: object
Team: ATL Odds: 107    +178
Name: ML Odds, dtype: object
Team: ATL Odds: 109    +165
Name: ML Odds, dtype: object

C:\Users\helgeson\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

Team: ATL Odds: 116    +810
Name: ML Odds, dtype: object
Team: ATL Odds: 121    -525
Name: ML Odds, dtype: object
Team: ATL Odds: 131    -118
Name: ML Odds, dtype: object
Team: ATL Odds: 140    +285
Name: ML Odds, dtype: object
Team: ATL Odds: 143    -450
Name: ML Odds, dtype: object
Team: ATL Odds: 149    +103
Name: ML Odds, dtype: object
Team: ATL Odds: 162    +160
Name: ML Odds, dtype: object
Team: ATL Odds: 165    -155
Name: ML Odds, dtype: object
Team: ATL Odds: 171    -400
Name: ML Odds, dtype: object
Team: ATL Odds: 180    +205
Name: ML Odds, dtype: object
Team: ATL Odds: 185    -425
Name: ML Odds, dtype: object
Team: ATL Odds: 195    -118
Name: ML Odds, dtype: object
Team: ATL Odds: 199    -310
Name: ML Odds, dtype: object
Team: ATL Odds: 202    -210
Name: ML Odds, dtype: object
Team: ATL Odds: 220    +130
Name: ML Odds, dtype: object
Team: ATL Odds: 224    -175
Name: ML Odds, dtype: object
Team: CON Odds: 1    -1500
Name: ML Odds, dtype: object
Team: CON Odds: 237    +120
Name: ML Odds, dtype: object
Team: CON Odds: 21    -1250
Name: ML Odds, dtype: object
Team: CON Odds: 240    -300
Name: ML Odds, dtype: object
Team: CON Odds: 28    -185
Name: ML Odds, dtype: object
Team: CON Odds: 38    -425
Name: ML Odds, dtype: object
Team: CON Odds: 246    -340
Name: ML Odds, dtype: object
Team: CON Odds: 251    -175
Name: ML Odds, dtype: object
Team: CON Odds: 253    -550
Name: ML Odds, dtype: object
Team: CON Odds: 260    -132
Name: ML Odds, dtype: object
Team: CON Odds: 68    +115
Name: ML Odds, dtype: object
Team: CON Odds: 80    -250
Name: ML Odds, dtype: object
Team: CON Odds: 266    -325
Name: ML Odds, dtype: object
Team: CON Odds: 274    +115
Name: ML Odds, dtype: object
Team: CON Odds: 95    -900
Name: ML Odds, dtype: object
Team: CON Odds: 286    +250
Name: ML Odds, dtype: object
Team: CON Odds: 294    +220
Name: ML Odds, dtype: object
Team: CON Odds: 302    -165
Name: ML Odds, dtype: object
Team: CON Odds: 115    -450
Name: ML Odds, dtype: object
Team: CON Odds: 123    -155
Name: ML Odds, dtype: object
Team: CON Odds: 136    +160
Name: ML Odds, dtype: object
Team: CON Odds: 141    -345
Name: ML Odds, dtype: object
Team: CON Odds: 305    -133
Name: ML Odds, dtype: object
Team: CON Odds: 150    +165
Name: ML Odds, dtype: object
Team: CON Odds: 157    -190
Name: ML Odds, dtype: object
Team: CON Odds: 311    -750
Name: ML Odds, dtype: object
Team: CON Odds: 177    -600
Name: ML Odds, dtype: object
Team: CON Odds: 316    -180
Name: ML Odds, dtype: object
Team: CON Odds: 318    -450
Name: ML Odds, dtype: object
Team: CON Odds: 207    -900
Name: ML Odds, dtype: object
Team: CON Odds: 323    -550
Name: ML Odds, dtype: object
Team: CON Odds: 215    -280
Name: ML Odds, dtype: object
Team: CON Odds: 223    -190
Name: ML Odds, dtype: object
Team: CHI Odds: 328    -103
Name: ML Odds, dtype: object
Team: CHI Odds: 9    +170
Name: ML Odds, dtype: object
Team: CHI Odds: 13    -145
Name: ML Odds, dtype: object
Team: CHI Odds: 332    +285
Name: ML Odds, dtype: object
Team: CHI Odds: 241    +250
Name: ML Odds, dtype: object
Team: CHI Odds: 35    -185
Name: ML Odds, dtype: object
Team: CHI Odds: 44    +420
Name: ML Odds, dtype: object
Team: CHI Odds: 48    +675
Name: ML Odds, dtype: object
Team: CHI Odds: 58    +525
Name: ML Odds, dtype: object
Team: CHI Odds: 335    +475
Name: ML Odds, dtype: object
Team: CHI Odds: 70    +340
Name: ML Odds, dtype: object
Team: CHI Odds: 85    +165
Name: ML Odds, dtype: object
Team: CHI Odds: 271    +295
Name: ML Odds, dtype: object
Team: CHI Odds: 93    -125
Name: ML Odds, dtype: object
Team: CHI Odds: 100    +160
Name: ML Odds, dtype: object
Team: CHI Odds: 284    +285
Name: ML Odds, dtype: object
Team: CHI Odds: 296    +135
Name: ML Odds, dtype: object
Team: CHI Odds: 301    +315
Name: ML Odds, dtype: object
Team: CHI Odds: 343    -125
Name: ML Odds, dtype: object
Team: CHI Odds: 124    +415
Name: ML Odds, dtype: object
Team: CHI Odds: 128    +145
Name: ML Odds, dtype: object
Team: CHI Odds: 345    +385
Name: ML Odds, dtype: object
Team: CHI Odds: 307    +245
Name: ML Odds, dtype: object
Team: CHI Odds: 155    +170
Name: ML Odds, dtype: object
Team: CHI Odds: 348    +220
Name: ML Odds, dtype: object
Team: CHI Odds: 166    +400
Name: ML Odds, dtype: object
Team: CHI Odds: 170    +325
Name: ML Odds, dtype: object
Team: CHI Odds: 189    +150
Name: ML Odds, dtype: object
Team: CHI Odds: 319    +360
Name: ML Odds, dtype: object
Team: CHI Odds: 206    +600
Name: ML Odds, dtype: object
Team: CHI Odds: 324    +335
Name: ML Odds, dtype: object
Team: CHI Odds: 350    -175
Name: ML Odds, dtype: object
Team: CHI Odds: 229    -590
Name: ML Odds, dtype: object
Team: NYL Odds: 8    -200
Name: ML Odds, dtype: object
Team: NYL Odds: 331    +185
Name: ML Odds, dtype: object
Team: NYL Odds: 23    -150
Name: ML Odds, dtype: object
Team: NYL Odds: 352    -210
Name: ML Odds, dtype: object
Team: NYL Odds: 37    -155
Name: ML Odds, dtype: object
Team: NYL Odds: 247    +280
Name: ML Odds, dtype: object
Team: NYL Odds: 47    -410
Name: ML Odds, dtype: object
Team: NYL Odds: 255    -500
Name: ML Odds, dtype: object
Team: NYL Odds: 66    +255
Name: ML Odds, dtype: object
Team: NYL Odds: 73    -270
Name: ML Odds, dtype: object
Team: NYL Odds: 90    -132
Name: ML Odds, dtype: object
Team: NYL Odds: 264    +360
Name: ML Odds, dtype: object
Team: NYL Odds: 273    +160
Name: ML Odds, dtype: object
Team: NYL Odds: 356    +360
Name: ML Odds, dtype: object
Team: NYL Odds: 101    -185
Name: ML Odds, dtype: object
Team: NYL Odds: 281    +160
Name: ML Odds, dtype: object
Team: NYL Odds: 288    +350
Name: ML Odds, dtype: object
Team: NYL Odds: 111    +135
Name: ML Odds, dtype: object
Team: NYL Odds: 114    +360
Name: ML Odds, dtype: object
Team: NYL Odds: 129    -165
Name: ML Odds, dtype: object
Team: NYL Odds: 138    +410
Name: ML Odds, dtype: object
Team: NYL Odds: 142    +360
Name: ML Odds, dtype: object
Team: NYL Odds: 361    +180
Name: ML Odds, dtype: object
Team: NYL Odds: 160    +668
Name: ML Odds, dtype: object
Team: NYL Odds: 310    +525
Name: ML Odds, dtype: object
Team: NYL Odds: 365    -250
Name: ML Odds, dtype: object
Team: NYL Odds: 367    +375
Name: ML Odds, dtype: object
Team: NYL Odds: 315    +380
Name: ML Odds, dtype: object
Team: NYL Odds: 203    +175
Name: ML Odds, dtype: object
Team: NYL Odds: 326    +680
Name: ML Odds, dtype: object
Team: NYL Odds: 370    +540
Name: ML Odds, dtype: object
Team: NYL Odds: 218    +900
Name: ML Odds, dtype: object
Team: NYL Odds: 226    +450
Name: ML Odds, dtype: object
Team: IND Odds: 329    -117
Name: ML Odds, dtype: object
Team: IND Odds: 2    +575
Name: ML Odds, dtype: object
Team: IND Odds: 375    +335
Name: ML Odds, dtype: object
Team: IND Odds: 235    +175
Name: ML Odds, dtype: object
Team: IND Odds: 20    +800
Name: ML Odds, dtype: object
Team: IND Odds: 353    +175
Name: ML Odds, dtype: object
Team: IND Odds: 43    +175
Name: ML Odds, dtype: object
Team: IND Odds: 46    +330
Name: ML Odds, dtype: object
Team: IND Odds: 55    -110
Name: ML Odds, dtype: object
Team: IND Odds: 62    +425
Name: ML Odds, dtype: object
Team: IND Odds: 65    +180
Name: ML Odds, dtype: object
Team: IND Odds: 78    +775
Name: ML Odds, dtype: object
Team: IND Odds: 88    +525
Name: ML Odds, dtype: object
Team: IND Odds: 267    +265
Name: ML Odds, dtype: object
Team: IND Odds: 94    +600
Name: ML Odds, dtype: object
Team: IND Odds: 99    +360
Name: ML Odds, dtype: object
Team: IND Odds: 282    +1000
Name: ML Odds, dtype: object
Team: IND Odds: 292    +425
Name: ML Odds, dtype: object
Team: IND Odds: 119    +425
Name: ML Odds, dtype: object
Team: IND Odds: 120    +415
Name: ML Odds, dtype: object
Team: IND Odds: 133    +335
Name: ML Odds, dtype: object
Team: IND Odds: 346    +850
Name: ML Odds, dtype: object
Team: IND Odds: 308    +1200
Name: ML Odds, dtype: object
Team: IND Odds: 152    +350
Name: ML Odds, dtype: object
Team: IND Odds: 159    +500
Name: ML Odds, dtype: object
Team: IND Odds: 377    +260
Name: ML Odds, dtype: object
Team: IND Odds: 364    +210
Name: ML Odds, dtype: object
Team: IND Odds: 187    +525
Name: ML Odds, dtype: object
Team: IND Odds: 320    +600
Name: ML Odds, dtype: object
Team: IND Odds: 200    +425
Name: ML Odds, dtype: object
Team: IND Odds: 369    +475
Name: ML Odds, dtype: object
Team: IND Odds: 351    +155
Name: ML Odds, dtype: object
Team: IND Odds: 228    +445
Name: ML Odds, dtype: object
Team: SEA Odds: 11    -145
Name: ML Odds, dtype: object
Team: SEA Odds: 16    +200
Name: ML Odds, dtype: object
Team: SEA Odds: 333    -345
Name: ML Odds, dtype: object
Team: SEA Odds: 384    -325
Name: ML Odds, dtype: object
Team: SEA Odds: 27    -155
Name: ML Odds, dtype: object
Team: SEA Odds: 387    -750
Name: ML Odds, dtype: object
Team: SEA Odds: 354    +103
Name: ML Odds, dtype: object
Team: SEA Odds: 248    +325
Name: ML Odds, dtype: object
Team: SEA Odds: 53    -340
Name: ML Odds, dtype: object
Team: SEA Odds: 59    -750
Name: ML Odds, dtype: object
Team: SEA Odds: 261    +112
Name: ML Odds, dtype: object
Team: SEA Odds: 77    -700
Name: ML Odds, dtype: object
Team: SEA Odds: 89    -750
Name: ML Odds, dtype: object
Team: SEA Odds: 262    +115
Name: ML Odds, dtype: object
Team: SEA Odds: 276    +220
Name: ML Odds, dtype: object
Team: SEA Odds: 359    -120
Name: ML Odds, dtype: object
Team: SEA Odds: 280    -185
Name: ML Odds, dtype: object
Team: SEA Odds: 106    -215
Name: ML Odds, dtype: object
Team: SEA Odds: 113    -310
Name: ML Odds, dtype: object
Team: SEA Odds: 339    -155
Name: ML Odds, dtype: object
Team: SEA Odds: 389    -260
Name: ML Odds, dtype: object
Team: SEA Odds: 344    -485
Name: ML Odds, dtype: object
Team: SEA Odds: 304    +113
Name: ML Odds, dtype: object
Team: SEA Odds: 148    -123
Name: ML Odds, dtype: object
Team: SEA Odds: 158    -600
Name: ML Odds, dtype: object
Team: SEA Odds: 168    -120
Name: ML Odds, dtype: object
Team: SEA Odds: 173    -275
Name: ML Odds, dtype: object
Team: SEA Odds: 366    -470
Name: ML Odds, dtype: object
Team: SEA Odds: 186    -750
Name: ML Odds, dtype: object
Team: SEA Odds: 192    -118
Name: ML Odds, dtype: object
Team: SEA Odds: 208    +115
Name: ML Odds, dtype: object
Team: SEA Odds: 219    -1375
Name: ML Odds, dtype: object
Team: SEA Odds: 231    -310
Name: ML Odds, dtype: object
Team: PHO Odds: 391    -200
Name: ML Odds, dtype: object
Team: PHO Odds: 10    +125
Name: ML Odds, dtype: object
Team: PHO Odds: 17    -240
Name: ML Odds, dtype: object
Team: PHO Odds: 382    +280
Name: ML Odds, dtype: object
Team: PHO Odds: 393    -240
Name: ML Odds, dtype: object
Team: PHO Odds: 238    +325
Name: ML Odds, dtype: object
Team: PHO Odds: 30    -118
Name: ML Odds, dtype: object
Team: PHO Odds: 36    +135
Name: ML Odds, dtype: object
Team: PHO Odds: 45    -475
Name: ML Odds, dtype: object
Team: PHO Odds: 51    -1165
Name: ML Odds, dtype: object
Team: PHO Odds: 56    -155
Name: ML Odds, dtype: object
Team: PHO Odds: 69    -135
Name: ML Odds, dtype: object
Team: PHO Odds: 336    -340
Name: ML Odds, dtype: object
Team: PHO Odds: 87    -133
Name: ML Odds, dtype: object
Team: PHO Odds: 270    -355
Name: ML Odds, dtype: object
Team: PHO Odds: 272    -185
Name: ML Odds, dtype: object
Team: PHO Odds: 98    -405
Name: ML Odds, dtype: object
Team: PHO Odds: 394    +135
Name: ML Odds, dtype: object
Team: PHO Odds: 295    -260
Name: ML Odds, dtype: object
Team: PHO Odds: 108    -190
Name: ML Odds, dtype: object
Team: PHO Odds: 340    +105
Name: ML Odds, dtype: object
Team: PHO Odds: 122    +135
Name: ML Odds, dtype: object
Team: PHO Odds: 132    -420
Name: ML Odds, dtype: object
Team: PHO Odds: 147    -420
Name: ML Odds, dtype: object
Team: PHO Odds: 363    -118
Name: ML Odds, dtype: object
Team: PHO Odds: 349    -280
Name: ML Odds, dtype: object
Team: PHO Odds: 169    +100
Name: ML Odds, dtype: object
Team: PHO Odds: 312    +135
Name: ML Odds, dtype: object
Team: PHO Odds: 182    +280
Name: ML Odds, dtype: object
Team: PHO Odds: 191    -145
Name: ML Odds, dtype: object
Team: PHO Odds: 321    -900
Name: ML Odds, dtype: object
Team: PHO Odds: 211    -117
Name: ML Odds, dtype: object
Team: PHO Odds: 221    -150
Name: ML Odds, dtype: object
Team: PHO Odds: 227    -600
Name: ML Odds, dtype: object
Team: MIN Odds: 7    -240
Name: ML Odds, dtype: object
Team: MIN Odds: 15    -1100
Name: ML Odds, dtype: object
Team: MIN Odds: 330    -225
Name: ML Odds, dtype: object
Team: MIN Odds: 380    -325
Name: ML Odds, dtype: object
Team: MIN Odds: 24    -320
Name: ML Odds, dtype: object
Team: MIN Odds: 239    -400
Name: ML Odds, dtype: object
Team: MIN Odds: 32    +150
Name: ML Odds, dtype: object
Team: MIN Odds: 244    -220
Name: ML Odds, dtype: object
Team: MIN Odds: 250    +155
Name: ML Odds, dtype: object
Team: MIN Odds: 67    -310
Name: ML Odds, dtype: object
Team: MIN Odds: 75    -310
Name: ML Odds, dtype: object
Team: MIN Odds: 86    +113
Name: ML Odds, dtype: object
Team: MIN Odds: 268    -340
Name: ML Odds, dtype: object
Team: MIN Odds: 277    -260
Name: ML Odds, dtype: object
Team: MIN Odds: 103    -1000
Name: ML Odds, dtype: object
Team: MIN Odds: 283    -1500
Name: ML Odds, dtype: object
Team: MIN Odds: 291    -200
Name: ML Odds, dtype: object
Team: MIN Odds: 300    -380
Name: ML Odds, dtype: object
Team: MIN Odds: 118    -550
Name: ML Odds, dtype: object
Team: MIN Odds: 127    -600
Name: ML Odds, dtype: object
Team: MIN Odds: 137    -185
Name: ML Odds, dtype: object
Team: MIN Odds: 347    -1300
Name: ML Odds, dtype: object
Team: MIN Odds: 362    -102
Name: ML Odds, dtype: object
Team: MIN Odds: 161    -850
Name: ML Odds, dtype: object
Team: MIN Odds: 378    -130
Name: ML Odds, dtype: object
Team: MIN Odds: 172    +235
Name: ML Odds, dtype: object
Team: MIN Odds: 181    -245
Name: ML Odds, dtype: object
Team: MIN Odds: 188    -170
Name: ML Odds, dtype: object
Team: MIN Odds: 196    -145
Name: ML Odds, dtype: object
Team: MIN Odds: 209    -135
Name: ML Odds, dtype: object
Team: MIN Odds: 325    -420
Name: ML Odds, dtype: object
Team: MIN Odds: 214    +240
Name: ML Odds, dtype: object
Team: MIN Odds: 233    -130
Name: ML Odds, dtype: object
Team: LAS Odds: 6    +200
Name: ML Odds, dtype: object
Team: LAS Odds: 374    -375
Name: ML Odds, dtype: object
Team: LAS Odds: 236    -140
Name: ML Odds, dtype: object
Team: LAS Odds: 383    -340
Name: ML Odds, dtype: object
Team: LAS Odds: 33    -170
Name: ML Odds, dtype: object
Team: LAS Odds: 249    -400
Name: ML Odds, dtype: object
Team: LAS Odds: 49    -1050
Name: ML Odds, dtype: object
Team: LAS Odds: 61    -370
Name: ML Odds, dtype: object
Team: LAS Odds: 256    -150
Name: ML Odds, dtype: object
Team: LAS Odds: 334    -650
Name: ML Odds, dtype: object
Team: LAS Odds: 79    -1200
Name: ML Odds, dtype: object
Team: LAS Odds: 82    -230
Name: ML Odds, dtype: object
Team: LAS Odds: 265    -450
Name: ML Odds, dtype: object
Team: LAS Odds: 279    -450
Name: ML Odds, dtype: object
Team: LAS Odds: 358    +100
Name: ML Odds, dtype: object
Team: LAS Odds: 104    -240
Name: ML Odds, dtype: object
Team: LAS Odds: 287    -300
Name: ML Odds, dtype: object
Team: LAS Odds: 290    +170
Name: ML Odds, dtype: object
Team: LAS Odds: 299    -325
Name: ML Odds, dtype: object
Team: LAS Odds: 338    +135
Name: ML Odds, dtype: object
Team: LAS Odds: 397    -365
Name: ML Odds, dtype: object
Team: LAS Odds: 134    -165
Name: ML Odds, dtype: object
Team: LAS Odds: 309    -1900
Name: ML Odds, dtype: object
Team: LAS Odds: 154    -200
Name: ML Odds, dtype: object
Team: LAS Odds: 163    -170
Name: ML Odds, dtype: object
Team: LAS Odds: 379    +110
Name: ML Odds, dtype: object
Team: LAS Odds: 183    -340
Name: ML Odds, dtype: object
Team: LAS Odds: 314    -475
Name: ML Odds, dtype: object
Team: LAS Odds: 194    -102
Name: ML Odds, dtype: object
Team: LAS Odds: 210    -103
Name: ML Odds, dtype: object
Team: LAS Odds: 327    -1060
Name: ML Odds, dtype: object
Team: LAS Odds: 212    +125
Name: ML Odds, dtype: object
Team: LAS Odds: 222    +165
Name: ML Odds, dtype: object
Team: DAL Odds: 390    +170
Name: ML Odds, dtype: object
Team: DAL Odds: 5    -200
Name: ML Odds, dtype: object
Team: DAL Odds: 14    +700
Name: ML Odds, dtype: object
Team: DAL Odds: 18    +135
Name: ML Odds, dtype: object
Team: DAL Odds: 22    +130
Name: ML Odds, dtype: object
Team: DAL Odds: 355    -113
Name: ML Odds, dtype: object
Team: DAL Odds: 42    -190
Name: ML Odds, dtype: object
Team: DAL Odds: 57    +135
Name: ML Odds, dtype: object
Team: DAL Odds: 259    -500
Name: ML Odds, dtype: object
Team: DAL Odds: 74    +255
Name: ML Odds, dtype: object
Team: DAL Odds: 83    +190
Name: ML Odds, dtype: object
Team: DAL Odds: 263    -135
Name: ML Odds, dtype: object
Team: DAL Odds: 278    +360
Name: ML Odds, dtype: object
Team: DAL Odds: 96    -155
Name: ML Odds, dtype: object
Team: DAL Odds: 285    -345
Name: ML Odds, dtype: object
Team: DAL Odds: 293    -550
Name: ML Odds, dtype: object
Team: DAL Odds: 110    -155
Name: ML Odds, dtype: object
Team: DAL Odds: 341    -125
Name: ML Odds, dtype: object
Team: DAL Odds: 396    +305
Name: ML Odds, dtype: object
Team: DAL Odds: 388    +220
Name: ML Odds, dtype: object
Team: DAL Odds: 139    -515
Name: ML Odds, dtype: object
Team: DAL Odds: 145    -200
Name: ML Odds, dtype: object
Team: DAL Odds: 306    -290
Name: ML Odds, dtype: object
Team: DAL Odds: 151    -190
Name: ML Odds, dtype: object
Team: DAL Odds: 167    -500
Name: ML Odds, dtype: object
Team: DAL Odds: 376    -320
Name: ML Odds, dtype: object
Team: DAL Odds: 179    -145
Name: ML Odds, dtype: object
Team: DAL Odds: 317    +158
Name: ML Odds, dtype: object
Team: DAL Odds: 198    +255
Name: ML Odds, dtype: object
Team: DAL Odds: 204    +360
Name: ML Odds, dtype: object
Team: DAL Odds: 322    +425
Name: ML Odds, dtype: object
Team: DAL Odds: 217    -145
Name: ML Odds, dtype: object
Team: DAL Odds: 230    +255
Name: ML Odds, dtype: object
Team: WAS Odds: 3    -850
Name: ML Odds, dtype: object
Team: WAS Odds: 373    -1575
Name: ML Odds, dtype: object
Team: WAS Odds: 234    -210
Name: ML Odds, dtype: object
Team: WAS Odds: 381    +265
Name: ML Odds, dtype: object
Team: WAS Odds: 26    +135
Name: ML Odds, dtype: object
Team: WAS Odds: 392    +220
Name: ML Odds, dtype: object
Team: WAS Odds: 242    -550
Name: ML Odds, dtype: object
Team: WAS Odds: 29    +160
Name: ML Odds, dtype: object
Team: WAS Odds: 245    +180
Name: ML Odds, dtype: object
Team: WAS Odds: 252    +425
Name: ML Odds, dtype: object
Team: WAS Odds: 257    +130
Name: ML Odds, dtype: object
Team: WAS Odds: 71    -425
Name: ML Odds, dtype: object
Team: WAS Odds: 84    -190
Name: ML Odds, dtype: object
Team: WAS Odds: 275    -135
Name: ML Odds, dtype: object
Team: WAS Odds: 357    -450
Name: ML Odds, dtype: object
Team: WAS Odds: 395    -155
Name: ML Odds, dtype: object
Team: WAS Odds: 289    -440
Name: ML Odds, dtype: object
Team: WAS Odds: 298    +265
Name: ML Odds, dtype: object
Team: WAS Odds: 112    +255
Name: ML Odds, dtype: object
Team: WAS Odds: 117    -1485
Name: ML Odds, dtype: object
Team: WAS Odds: 125    -525
Name: ML Odds, dtype: object
Team: WAS Odds: 130    -102
Name: ML Odds, dtype: object
Team: WAS Odds: 144    +170
Name: ML Odds, dtype: object
Team: WAS Odds: 360    -220
Name: ML Odds, dtype: object
Team: WAS Odds: 156    +175
Name: ML Odds, dtype: object
Team: WAS Odds: 164    +135
Name: ML Odds, dtype: object
Team: WAS Odds: 178    +125
Name: ML Odds, dtype: object
Team: WAS Odds: 190    +125
Name: ML Odds, dtype: object
Team: WAS Odds: 193    -102
Name: ML Odds, dtype: object
Team: WAS Odds: 205    -450
Name: ML Odds, dtype: object
Team: WAS Odds: 368    -650
Name: ML Odds, dtype: object
Team: WAS Odds: 213    -145
Name: ML Odds, dtype: object
Team: WAS Odds: 232    +110
Name: ML Odds, dtype: object
Team: LVA Odds: 0    +1000
Name: ML Odds, dtype: object
Team: LVA Odds: 372    +1250
Name: ML Odds, dtype: object
Team: LVA Odds: 385    +265
Name: ML Odds, dtype: object
Team: LVA Odds: 386    +525
Name: ML Odds, dtype: object
Team: LVA Odds: 243    +425
Name: ML Odds, dtype: object

In [108]:
db.to_csv('WNBA18.csv', index = False)

## Below is for troubleshooting

In [9]:
url = 'https://www.sportsbookreview.com/betting-odds/wnba-basketball/?date=20180703'

In [10]:
res = requests.get(url, 'html.parser')
soup = bs4.BeautifulSoup(res.text, 'lxml')
linesoup = soup.find('div', {'id':'bettingOddsGridContainer'})
games = soup.find('div', {'class':'_1eZfC'})

In [19]:
pd.read_html(str(games), flavor = 'bs4', attrs = {'class':'_1eZfC'})

ValueError: No tables found

### Scraping lines remnants from NBA scraper

In [37]:
# Point spread scrape
scraped_dates = []
spreaddb = pd.DataFrame()

for date in db['Date']:
    if date not in scraped_dates:
        print("Date: ", date)
        url = f'https://www.sportsbookreview.com/betting-odds/wnba-basketball/pointspread/?date={date}'
        res = requests.get(url, 'html.parser')
        res.raise_for_status()
        soup = bs4.BeautifulSoup(res.text, 'lxml')
        linesoup = soup.find('div', {'id':'bettingOddsGridContainer'})
        test_teams = linesoup.find_all('span', {'class':'_3O1Gx'})
        teams = [team_abbrevs[team.get_text()] for team in test_teams]
        test_lines = linesoup.find_all('span', {'class':'_3Nv_7 opener'})
        lines = [line.get_text() for line in test_lines if line.get_text().startswith('-') or line.get_text().startswith('+') or line.get_text().startswith('P')]
        print("teams:",len(teams),"lines",len(lines))
        
        if len(teams) != len(lines):
            lines = [np.nan for team in teams]
            spread = {'Team':teams, 'Spread': lines, 'Date':[date]*len(lines)}
            spreads = pd.DataFrame.from_dict(spread)
            spreaddb = pd.concat([spreaddb, spreads])
            scraped_dates.append(date)
            
        else:
            spread = {'Team':teams, 'Spread': lines, 'Date':[date]*len(lines)}
            spreads = pd.DataFrame.from_dict(spread)
            spreaddb = pd.concat([spreaddb, spreads])
            scraped_dates.append(date)

spreaddb.to_csv('16Spreads.csv', index = False)

Date:  20160514
teams: 0 lines 0
Date:  20160520
teams: 6 lines 6
Date:  20160522
teams: 4 lines 4
Date:  20160524
teams: 4 lines 4
Date:  20160527
teams: 6 lines 6
Date:  20160529
teams: 6 lines 6
Date:  20160603
teams: 8 lines 8
Date:  20160605
teams: 6 lines 6
Date:  20160610
teams: 6 lines 6
Date:  20160612
teams: 6 lines 6
Date:  20160617
teams: 6 lines 6
Date:  20160618
teams: 4 lines 4
Date:  20160622
teams: 4 lines 4
Date:  20160625
teams: 4 lines 4
Date:  20160628
teams: 4 lines 4
Date:  20160630
teams: 4 lines 4
Date:  20160703
teams: 4 lines 4
Date:  20160705
teams: 6 lines 6
Date:  20160708
teams: 8 lines 8
Date:  20160710
teams: 10 lines 10
Date:  20160713
teams: 8 lines 8
Date:  20160715
teams: 10 lines 10
Date:  20160717
teams: 8 lines 8
Date:  20160720
teams: 8 lines 8
Date:  20160722
teams: 8 lines 8
Date:  20160826
teams: 10 lines 10
Date:  20160828
teams: 10 lines 10
Date:  20160904
teams: 10 lines 10
Date:  20160906
teams: 6 lines 6
Date:  20160908
teams: 2 lines 2
Date:  20160911
teams: 12 lines 12
Date:  20160913
teams: 10 lines 10
Date:  20160915
teams: 4 lines 4
Date:  20160917
teams: 2 lines 2
Date:  20160518
teams: 6 lines 6
Date:  20160521
teams: 6 lines 6
Date:  20160526
teams: 4 lines 4
Date:  20160601
teams: 4 lines 4
Date:  20160608
teams: 2 lines 2
Date:  20160611
teams: 6 lines 6
Date:  20160614
teams: 10 lines 10
Date:  20160624
teams: 8 lines 8
Date:  20160626
teams: 6 lines 6
Date:  20160629
teams: 8 lines 8
Date:  20160701
teams: 6 lines 6
Date:  20160706
teams: 6 lines 6
Date:  20160827
teams: 2 lines 2
Date:  20160902
teams: 8 lines 8
Date:  20160907
teams: 4 lines 4
Date:  20160909
teams: 8 lines 8
Date:  20160918
teams: 8 lines 8
Date:  20160519
teams: 2 lines 2
Date:  20160528
teams: 2 lines 2
Date:  20160531
teams: 4 lines 4
Date:  20160616
teams: 4 lines 4
Date:  20160619
teams: 6 lines 6
Date:  20160702
teams: 4 lines 4
Date:  20160707
teams: 2 lines 2
Date:  20160830
teams: 4 lines 4
Date:  20160916
teams: 8 lines 8
Date:  20160621
teams: 6 lines 6
Date:  20160719
teams: 4 lines 4
Date:  20160515
teams: 0 lines 0
Date:  20160607
teams: 4 lines 4
Date:  20160721
teams: 2 lines 2
Date:  20160901
teams: 4 lines 4
Date:  20160903
teams: 2 lines 2
Date:  20160831
teams: 2 lines 2
Date:  20160525
teams: 2 lines 2
Date:  20160609
teams: 2 lines 2
Date:  20160716
teams: 2 lines 2
Date:  20160602
teams: 2 lines 2
Date:  20160604
teams: 4 lines 4
Date:  20160709
teams: 2 lines 2
Date:  20160712
teams: 2 lines 2
Date:  20160623
teams: 2 lines 2

In [50]:
len(spreaddb)
db['Line'] = np.zeros(len(db['Team']))

In [51]:
#db['Odds'][0] = moneydb[(moneydb['Date'] == date) & (moneydb['Team'] == db['Team'][0])]['ML Odds']
#db['Line'][0] = spreaddb[(spreaddb['Date'] == date) & (spreaddb['Team'] == db['Team'][0])]['Spread']

#moneydb.reset_index(drop = True, inplace = True)
spreaddb.reset_index(drop = True, inplace = True)

In [41]:

for i, spread in enumerate(spreaddb['Spread']):
    spreaddb['Spread'][i] = re.sub("½", ".5", spread)

/Users/ahelgeso/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

-5.5
+5.5
+5.5
-5.5
+11.5
-11.5
-4
+4
-9
+9
+8
-8
-1.5
+1.5
-8
+8
+11
-11
+3.5
-3.5
+3
-3
+2.5
-2.5
+8.5
-8.5
-5.5
+5.5
+4
-4
+9.5
-9.5
-2.5
+2.5
-2.5
+2.5
+11
-11
-3.5
+3.5
-2
+2
+1
-1
-4.5
+4.5
+10.5
-10.5
+6
-6
+2.5
-2.5
+1.5
-1.5
-4.5
+4.5
+7.5
-7.5
+2.5
-2.5
+7
-7
-1.5
+1.5
+3.5
-3.5
-4
+4
+4
-4
+2.5
-2.5
+12
-12
+12.5
-12.5
+1.5
-1.5
+7.5
-7.5
-1.5
+1.5
+3.5
-3.5
+10
-10
PK
PK
+2.5
-2.5
+1.5
-1.5
-3
+3
+7
-7
-3
+3
+13.5
-13.5
+3
-3
+1.5
-1.5
+9.5
-9.5
+6.5
-6.5
+8.5
-8.5
-4
+4
+4.5
-4.5
-11
+11
+3.5
-3.5
+8.5
-8.5
+4.5
-4.5
-2.5
+2.5
-6.5
+6.5
+8.5
-8.5
-8.5
+8.5
-2
+2
-2.5
+2.5
+4.5
-4.5
+12
-12
+7
-7
-8
+8
+4
-4
+14.5
-14.5
+6.5
-6.5
-9
+9
-8
+8
+5
-5
-8
+8
+6
-6
+2
-2
+1
-1
+9
-9
+11.5
-11.5
-4.5
+4.5
+3
-3
+12
-12
+3.5
-3.5
+11
-11
+9
-9
-2.5
+2.5
-6.5
+6.5
+2.5
-2.5
+9
-9
-1.5
+1.5
PK
PK
-13
+13
-2.5
+2.5
+6.5
-6.5
-2.5
+2.5
+6
-6
-2
+2
+10
-10
-4.5
+4.5
+3.5
-3.5
+1
-1
+5
-5
+9
-9
-1
+1
-2
+2
+2
-2
+2
-2
+6
-6
+11
-11
-8
+8
+3.5
-3.5
+7
-7
-2
+2
+3.5
-3.5
-7
+7
-6
+6
-7
+7
+8.5
-8.5
-1
+1
+13
-13
-3
+3
+7.5
-7.5
+1.5
-1.5
+3
-3
+2.5
-2.5
+6
-6
+5
-5
-8
+8
+15.5
-15.5
+10.5
-10.5
+7.5
-7.5
+9
-9
+12.5
-12.5
+8
-8
+3.5
-3.5
+3.5
-3.5
+7.5
-7.5
-4.5
+4.5
+11
-11
+5.5
-5.5
-3
+3
+13
-13
+4
-4
-7.5
+7.5
+7.5
-7.5
-1.5
+1.5
+4.5
-4.5
+3
-3
+5
-5
-5
+5
+7
-7
+2
-2
-7.5
+7.5
+3
-3
-2
+2
+4
-4
-5.5
+5.5
+10
-10
-7
+7
+3.5
-3.5
+4.5
-4.5
-2.5
+2.5
-11
+11
+16
-16
+10
-10
-11.5
+11.5
+9
-9
+1.5
-1.5
+5
-5
-3.5
+3.5
+3
-3
+12.5
-12.5
+2.5
-2.5
-1.5
+1.5
+14.5
-14.5
-6.5
+6.5
+3
-3
+9.5
-9.5
+8
-8
+5.5
-5.5
-2
+2
-12.5
+12.5
+2.5
-2.5
+3
-3
-3
+3
+11.5
-11.5
+8
-8
+16.5
-16.5
+14
-14
-10
+10
+11
-11
-13
+13
+9
-9

In [42]:
spreaddb['Spread'] = spreaddb['Spread'].replace('PK',0)
spreaddb['Spread'] = spreaddb['Spread'].apply(lambda x: float(x))

In [43]:
spreaddb['Date'].apply(lambda x: int(x))
#moneydb['Date'].apply(lambda x: int(x))
#moneydb['ML Odds'] = moneydb['ML Odds'].apply(lambda x: int(x))

0      20160520
1      20160520
2      20160520
3      20160520
4      20160520
5      20160520
6      20160522
7      20160522
8      20160522
9      20160522
10     20160524
11     20160524
12     20160524
13     20160524
14     20160527
15     20160527
16     20160527
17     20160527
18     20160527
19     20160527
20     20160529
21     20160529
22     20160529
23     20160529
24     20160529
25     20160529
26     20160603
27     20160603
28     20160603
29     20160603
         ...
364    20160607
365    20160607
366    20160721
367    20160721
368    20160901
369    20160901
370    20160901
371    20160901
372    20160903
373    20160903
374    20160831
375    20160831
376    20160525
377    20160525
378    20160609
379    20160609
380    20160716
381    20160716
382    20160602
383    20160602
384    20160604
385    20160604
386    20160604
387    20160604
388    20160709
389    20160709
390    20160712
391    20160712
392    20160623
393    20160623
Name: Date, Length: 394, dtype: int64

In [52]:
for i, date in enumerate(db['Date']):
    
    #db['Odds'][i] = moneydb[(moneydb['Date'] == date) & (moneydb['Team'] == db['Team'][i])]['ML Odds']
    #print("Team:", db['Team'][i], "Odds:", moneydb[(moneydb['Date'] == date) & (moneydb['Team'] == db['Team'][i])]['ML Odds'])
    db['Line'][i] = spreaddb[(spreaddb['Date'] == date) & (spreaddb['Team'] == db['Team'][i])]['Spread']
    print("Team:", db['Team'][i], "Spread:", spreaddb[(spreaddb['Date'] == date) & (spreaddb['Team'] == db['Team'][i])]['Spread'])

/Users/ahelgeso/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

ValueError: No axis named 1 for object type <class 'type'>

In [53]:
spreaddb.to_csv('Spreads.csv')

In [54]:
moneydb.to_csv('MLodds.csv')

In [56]:
db.to_csv('2017_2019stats.csv')