In [190]:
import pickle
import re
import requests, bs4
import numpy as np
import pandas as pd
import os

In [208]:
file = 'WNBA16.csv'

In [209]:
db = pd.read_csv(f'{file}')

In [210]:
team_abbrevs = {
    'Atlanta Dream': 'ATL',
    'Washington Mystics': 'WAS',
    'Connecticut Sun': 'CON',
    'Chicago Sky': 'CHI',
    'New York Liberty': 'NYL',
    'Indiana Fever': 'IND',
    'Seattle Storm': 'SEA',
    'Phoenix Mercury': 'PHO',
    'L.A. Sparks':'LAS',
    'Minnesota Lynx': 'MIN',
    'Dallas Wings': 'DAL',
    'Las Vegas Aces': 'LVA'
}

team_abbrevs17 = {
    'Atlanta Dream': 'ATL',
    'Washington Mystics': 'WAS',
    'Connecticut Sun': 'CON',
    'Chicago Sky': 'CHI',
    'New York Liberty': 'NYL',
    'Indiana Fever': 'IND',
    'Seattle Storm': 'SEA',
    'Phoenix Mercury': 'PHO',
    'Los Angeles Sparks':'LAS',
    'Minnesota Lynx': 'MIN',
    'Dallas Wings': 'DAL',
    'San Antonio Stars': 'SAS'
}

team_abbrevs16 = {
    'Atlanta Dream': 'ATL',
    'Washington Mystics': 'WAS',
    'Connecticut Sun': 'CON',
    'Chicago Sky': 'CHI',
    'New York Liberty': 'NYL',
    'Indiana Fever': 'IND',
    'Seattle Storm': 'SEA',
    'Phoenix Mercury': 'PHO',
    'Los Angeles Sparks':'LAS',
    'Minnesota Lynx': 'MIN',
    'Dallas Wings': 'DAL',
    'San Antonio Stars': 'SAS'
}

In [123]:
def date_formatter(date):

    if len(str(date.month)) != 2:
        month = '0'+ str(date.month)
    else:
        month = str(date.month)
        
    if len(str(date.day)) != 2:
        day = '0' + str(date.day)
    else:
        day = str(date.day)
        
    newdate = str(date.year) + month + day
    return newdate

In [124]:
db['Date'] = pd.to_datetime(db['Date'])
db['Date'] = db['Date'].apply(date_formatter)

In [130]:
db['Date']

0      20170513
1      20170519
2      20170521
3      20170527
4      20170531
5      20170604
6      20170607
7      20170610
8      20170613
9      20170615
10     20170623
11     20170630
12     20170702
13     20170705
14     20170707
15     20170709
16     20170712
17     20170715
18     20170718
19     20170719
20     20170725
21     20170728
22     20170730
23     20170803
24     20170805
25     20170808
26     20170811
27     20170812
28     20170815
29     20170819
         ...
378    20170528
379    20170531
380    20170603
381    20170606
382    20170610
383    20170615
384    20170618
385    20170621
386    20170623
387    20170625
388    20170630
389    20170705
390    20170707
391    20170712
392    20170716
393    20170718
394    20170720
395    20170725
396    20170728
397    20170730
398    20170801
399    20170804
400    20170805
401    20170810
402    20170812
403    20170818
404    20170822
405    20170825
406    20170901
407    20170902
Name: Date, Length: 408, dtype: int64

In [131]:
# Moneyline scrape

scraped_dates = []
moneydb = pd.DataFrame()

for date in db['Date']:
    
    #if date == 20160616:
     #   pass
    
    if date not in scraped_dates:
        print("Date: ", date)
        url = f'https://www.sportsbookreview.com/betting-odds/wnba-basketball/money-line/?date={date}'
        res = requests.get(url, 'html.parser')
        res.raise_for_status()
        soup = bs4.BeautifulSoup(res.text, 'lxml')
        linesoup = soup.find('div', {'id':'bettingOddsGridContainer'})
        test_teams = linesoup.find_all('span', {'class':'_3O1Gx'})
        teams = [team_abbrevs[team.get_text()] for team in test_teams]
        test_lines = linesoup.find_all('span', {'class':'opener'})
        lines = [line.get_text() for line in test_lines if line.get_text().startswith('-') and len(line.get_text()) > 1 or line.get_text().startswith('+') and len(line.get_text()) > 1]
        print("teams:",len(teams),"lines",len(lines))
        
        if len(teams) != len(lines):
            pass
        else:
            moneylines = {'Team':teams, 'ML Odds': lines, 'Date':[date]*len(teams)}
        
            MLdb = pd.DataFrame.from_dict(moneylines)
            moneydb = pd.concat([moneydb, MLdb])
            
        scraped_dates.append(date)
        
# moneydb.to_csv('MLodds.csv')

Date:  20170513
teams: 6 lines 6
Date:  20170519
teams: 6 lines 6
Date:  20170521
teams: 4 lines 4
Date:  20170527
teams: 4 lines 4
Date:  20170531
teams: 4 lines 4
Date:  20170604
teams: 4 lines 4
Date:  20170607
teams: 4 lines 4
Date:  20170610
teams: 6 lines 6
Date:  20170613
teams: 4 lines 4
Date:  20170615
teams: 4 lines 4
Date:  20170623
teams: 10 lines 10
Date:  20170630
teams: 6 lines 6
Date:  20170702
teams: 4 lines 4
Date:  20170705
teams: 6 lines 6
Date:  20170707
teams: 4 lines 4
Date:  20170709
teams: 4 lines 4
Date:  20170712

KeyboardInterrupt:

In [10]:
moneydb.to_csv('moneydb19.csv', index = False)

In [11]:
db['Odds'] = np.zeros(len(db['Team']))

In [12]:
for i, date in enumerate(db['Date']):
    
    if date in list(moneydb['Date']):
        
        db['Odds'][i] = moneydb[(moneydb['Date'] == date) & (moneydb['Team'] == db['Team'][i])]['ML Odds']
        print("Team:", db['Team'][i], "Odds:", moneydb[(moneydb['Date'] == date) & (moneydb['Team'] == db['Team'][i])]['ML Odds'])
        
    else:
        db['Odds'][i] = np.nan

/Users/ahelgeso/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

Team: ATL Odds: 1    -380
Name: ML Odds, dtype: object
Team: ATL Odds: 1    -265
Name: ML Odds, dtype: object
Team: ATL Odds: 2    -375
Name: ML Odds, dtype: object
Team: ATL Odds: 1    +130
Name: ML Odds, dtype: object
Team: ATL Odds: 3    +185
Name: ML Odds, dtype: object
Team: ATL Odds: 2    -150
Name: ML Odds, dtype: object
Team: ATL Odds: 1    -125
Name: ML Odds, dtype: object
Team: ATL Odds: 0    +650
Name: ML Odds, dtype: object
Team: ATL Odds: 1    +325
Name: ML Odds, dtype: object
Team: ATL Odds: 1    -155
Name: ML Odds, dtype: object
Team: ATL Odds: 2    +225
Name: ML Odds, dtype: object
Team: ATL Odds: 2    +220
Name: ML Odds, dtype: object
Team: ATL Odds: 4    +270
Name: ML Odds, dtype: object
Team: ATL Odds: 1    +180
Name: ML Odds, dtype: object
Team: ATL Odds: 3    -103
Name: ML Odds, dtype: object
Team: ATL Odds: 1    +158
Name: ML Odds, dtype: object
Team: WAS Odds: 2    +100
Name: ML Odds, dtype: object

/Users/ahelgeso/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

Team: WAS Odds: 3    +285
Name: ML Odds, dtype: object
Team: WAS Odds: 1    -700
Name: ML Odds, dtype: object
Team: WAS Odds: 2    -440
Name: ML Odds, dtype: object
Team: WAS Odds: 1    -1450
Name: ML Odds, dtype: object
Team: WAS Odds: 2    +175
Name: ML Odds, dtype: object
Team: WAS Odds: 1    -450
Name: ML Odds, dtype: object
Team: WAS Odds: 0    +135
Name: ML Odds, dtype: object
Team: WAS Odds: 2    +170
Name: ML Odds, dtype: object
Team: WAS Odds: 0    -400
Name: ML Odds, dtype: object
Team: WAS Odds: 0    -230
Name: ML Odds, dtype: object
Team: WAS Odds: 1    -295
Name: ML Odds, dtype: object
Team: WAS Odds: 2    -160
Name: ML Odds, dtype: object
Team: WAS Odds: 3    -900
Name: ML Odds, dtype: object
Team: WAS Odds: 1    -235
Name: ML Odds, dtype: object
Team: CON Odds: 3    -120
Name: ML Odds, dtype: object
Team: CON Odds: 1    -550
Name: ML Odds, dtype: object
Team: CON Odds: 4    +115
Name: ML Odds, dtype: object
Team: CON Odds: 0    +215
Name: ML Odds, dtype: object
Team: CON Odds: 3    -240
Name: ML Odds, dtype: object
Team: CON Odds: 2    -225
Name: ML Odds, dtype: object
Team: CON Odds: 3    -210
Name: ML Odds, dtype: object
Team: CON Odds: 2    -245
Name: ML Odds, dtype: object
Team: CON Odds: 1    -475
Name: ML Odds, dtype: object
Team: CON Odds: 1    -1000
Name: ML Odds, dtype: object
Team: CON Odds: 4    -185
Name: ML Odds, dtype: object
Team: CON Odds: 2    -400
Name: ML Odds, dtype: object
Team: CON Odds: 0    +265
Name: ML Odds, dtype: object
Team: CON Odds: 1    -390
Name: ML Odds, dtype: object
Team: CON Odds: 0    -220
Name: ML Odds, dtype: object
Team: CON Odds: 5    -160
Name: ML Odds, dtype: object
Team: CON Odds: 2    -230
Name: ML Odds, dtype: object
Team: CHI Odds: 4    +155
Name: ML Odds, dtype: object
Team: CHI Odds: 5    -117
Name: ML Odds, dtype: object
Team: CHI Odds: 0    +500
Name: ML Odds, dtype: object
Team: CHI Odds: 9    -125
Name: ML Odds, dtype: object
Team: CHI Odds: 5    +165
Name: ML Odds, dtype: object
Team: CHI Odds: 0    +145
Name: ML Odds, dtype: object
Team: CHI Odds: 2    +120
Name: ML Odds, dtype: object
Team: CHI Odds: 3    -200
Name: ML Odds, dtype: object
Team: CHI Odds: 5    +160
Name: ML Odds, dtype: object
Team: CHI Odds: 1    +190
Name: ML Odds, dtype: object
Team: CHI Odds: 2    +155
Name: ML Odds, dtype: object
Team: CHI Odds: 4    +290
Name: ML Odds, dtype: object
Team: CHI Odds: 0    +360
Name: ML Odds, dtype: object
Team: CHI Odds: 7    -275
Name: ML Odds, dtype: object
Team: CHI Odds: 7    +135
Name: ML Odds, dtype: object
Team: CHI Odds: 7    -190
Name: ML Odds, dtype: object
Team: CHI Odds: 4    +103
Name: ML Odds, dtype: object
Team: NYL Odds: 3    -135
Name: ML Odds, dtype: object
Team: NYL Odds: 0    +140
Name: ML Odds, dtype: object
Team: NYL Odds: 1    +255
Name: ML Odds, dtype: object
Team: NYL Odds: 3    +350
Name: ML Odds, dtype: object
Team: NYL Odds: 5    +475
Name: ML Odds, dtype: object
Team: NYL Odds: 1    +140
Name: ML Odds, dtype: object
Team: NYL Odds: 6    +515
Name: ML Odds, dtype: object
Team: NYL Odds: 4    +775
Name: ML Odds, dtype: object
Team: NYL Odds: 3    -140
Name: ML Odds, dtype: object
Team: NYL Odds: 0    +250
Name: ML Odds, dtype: object
Team: NYL Odds: 1    -165
Name: ML Odds, dtype: object
Team: NYL Odds: 0    +135
Name: ML Odds, dtype: object
Team: NYL Odds: 0    +275
Name: ML Odds, dtype: object
Team: NYL Odds: 4    +325
Name: ML Odds, dtype: object
Team: NYL Odds: 1    +170
Name: ML Odds, dtype: object
Team: NYL Odds: 6    +165
Name: ML Odds, dtype: object
Team: NYL Odds: 8    +180
Name: ML Odds, dtype: object
Team: IND Odds: 2    +115
Name: ML Odds, dtype: object
Team: IND Odds: 0    +425
Name: ML Odds, dtype: object
Team: IND Odds: 1    -160
Name: ML Odds, dtype: object
Team: IND Odds: 1    -190
Name: ML Odds, dtype: object
Team: IND Odds: 7    +103
Name: ML Odds, dtype: object
Team: IND Odds: 1    -150
Name: ML Odds, dtype: object
Team: IND Odds: 0    +100
Name: ML Odds, dtype: object
Team: IND Odds: 1    -165
Name: ML Odds, dtype: object
Team: IND Odds: 0    +105
Name: ML Odds, dtype: object
Team: IND Odds: 2    +170
Name: ML Odds, dtype: object
Team: IND Odds: 6    +185
Name: ML Odds, dtype: object
Team: IND Odds: 1    -102
Name: ML Odds, dtype: object
Team: IND Odds: 4    +210
Name: ML Odds, dtype: object
Team: IND Odds: 2    +725
Name: ML Odds, dtype: object
Team: IND Odds: 0    +145
Name: ML Odds, dtype: object
Team: IND Odds: 5    +165
Name: ML Odds, dtype: object
Team: IND Odds: 1    +135
Name: ML Odds, dtype: object
Team: IND Odds: 3    +190
Name: ML Odds, dtype: object
Team: SEA Odds: 1    +135
Name: ML Odds, dtype: object
Team: SEA Odds: 0    +112
Name: ML Odds, dtype: object
Team: SEA Odds: 0    +245
Name: ML Odds, dtype: object
Team: SEA Odds: 4    -103
Name: ML Odds, dtype: object
Team: SEA Odds: 3    -110
Name: ML Odds, dtype: object
Team: SEA Odds: 8    +105
Name: ML Odds, dtype: object
Team: SEA Odds: 0    +130
Name: ML Odds, dtype: object
Team: SEA Odds: 0    +360
Name: ML Odds, dtype: object
Team: SEA Odds: 0    +380
Name: ML Odds, dtype: object
Team: SEA Odds: 5    +110
Name: ML Odds, dtype: object
Team: SEA Odds: 7    -225
Name: ML Odds, dtype: object
Team: SEA Odds: 2    +275
Name: ML Odds, dtype: object
Team: SEA Odds: 3    -175
Name: ML Odds, dtype: object
Team: SEA Odds: 7    +125
Name: ML Odds, dtype: object
Team: SEA Odds: 1    -305
Name: ML Odds, dtype: object
Team: SEA Odds: 3    -260
Name: ML Odds, dtype: object
Team: SEA Odds: 9    -260
Name: ML Odds, dtype: object
Team: SEA Odds: 9    -220
Name: ML Odds, dtype: object
Team: PHO Odds: 0    -155
Name: ML Odds, dtype: object
Team: PHO Odds: 3    -102
Name: ML Odds, dtype: object
Team: PHO Odds: 4    -102
Name: ML Odds, dtype: object
Team: PHO Odds: 6    -123
Name: ML Odds, dtype: object
Team: PHO Odds: 4    -190
Name: ML Odds, dtype: object
Team: PHO Odds: 5    -140
Name: ML Odds, dtype: object
Team: PHO Odds: 0    -240
Name: ML Odds, dtype: object
Team: PHO Odds: 3    -110
Name: ML Odds, dtype: object
Team: PHO Odds: 5    -250
Name: ML Odds, dtype: object
Team: PHO Odds: 6    -145
Name: ML Odds, dtype: object
Team: PHO Odds: 5    -400
Name: ML Odds, dtype: object
Team: PHO Odds: 5    -330
Name: ML Odds, dtype: object
Team: PHO Odds: 2    +600
Name: ML Odds, dtype: object
Team: PHO Odds: 4    +140
Name: ML Odds, dtype: object
Team: PHO Odds: 6    -102
Name: ML Odds, dtype: object
Team: LAS Odds: 0    +135
Name: ML Odds, dtype: object
Team: LAS Odds: 5    -125
Name: ML Odds, dtype: object
Team: LAS Odds: 0    -310
Name: ML Odds, dtype: object
Team: LAS Odds: 2    +200
Name: ML Odds, dtype: object
Team: LAS Odds: 0    +105
Name: ML Odds, dtype: object
Team: LAS Odds: 4    +130
Name: ML Odds, dtype: object
Team: LAS Odds: 5    -1200
Name: ML Odds, dtype: object
Team: LAS Odds: 1    -155
Name: ML Odds, dtype: object
Team: LAS Odds: 4    -130
Name: ML Odds, dtype: object
Team: LAS Odds: 2    -110
Name: ML Odds, dtype: object
Team: LAS Odds: 1    +105
Name: ML Odds, dtype: object
Team: LAS Odds: 5    -350
Name: ML Odds, dtype: object
Team: LAS Odds: 3    +140
Name: ML Odds, dtype: object
Team: LAS Odds: 0    -280
Name: ML Odds, dtype: object
Team: LAS Odds: 0    -155
Name: ML Odds, dtype: object
Team: LAS Odds: 0    -180
Name: ML Odds, dtype: object
Team: MIN Odds: 5    -175
Name: ML Odds, dtype: object
Team: MIN Odds: 1    -132
Name: ML Odds, dtype: object
Team: MIN Odds: 6    -135
Name: ML Odds, dtype: object
Team: MIN Odds: 2    -110
Name: ML Odds, dtype: object
Team: MIN Odds: 5    -118
Name: ML Odds, dtype: object
Team: MIN Odds: 1    -125
Name: ML Odds, dtype: object
Team: MIN Odds: 0    -160
Name: ML Odds, dtype: object
Team: MIN Odds: 3    +205
Name: ML Odds, dtype: object
Team: MIN Odds: 3    +225
Name: ML Odds, dtype: object
Team: MIN Odds: 1    -300
Name: ML Odds, dtype: object
Team: MIN Odds: 0    -118
Name: ML Odds, dtype: object
Team: MIN Odds: 2    -190
Name: ML Odds, dtype: object
Team: MIN Odds: 3    -265
Name: ML Odds, dtype: object
Team: MIN Odds: 0    +320
Name: ML Odds, dtype: object
Team: MIN Odds: 6    -155
Name: ML Odds, dtype: object
Team: MIN Odds: 2    -117
Name: ML Odds, dtype: object
Team: MIN Odds: 7    -118
Name: ML Odds, dtype: object
Team: DAL Odds: 0    +315
Name: ML Odds, dtype: object
Team: DAL Odds: 7    +115
Name: ML Odds, dtype: object
Team: DAL Odds: 0    +165
Name: ML Odds, dtype: object
Team: DAL Odds: 0    +950
Name: ML Odds, dtype: object
Team: DAL Odds: 1    -120
Name: ML Odds, dtype: object
Team: DAL Odds: 3    +130
Name: ML Odds, dtype: object
Team: DAL Odds: 1    +200
Name: ML Odds, dtype: object
Team: DAL Odds: 2    +850
Name: ML Odds, dtype: object
Team: DAL Odds: 3    +325
Name: ML Odds, dtype: object
Team: DAL Odds: 0    +145
Name: ML Odds, dtype: object
Team: DAL Odds: 3    +165
Name: ML Odds, dtype: object
Team: DAL Odds: 1    -165
Name: ML Odds, dtype: object
Team: DAL Odds: 6    +235
Name: ML Odds, dtype: object
Team: DAL Odds: 1    +240
Name: ML Odds, dtype: object
Team: DAL Odds: 8    +220
Name: ML Odds, dtype: object
Team: DAL Odds: 5    -123
Name: ML Odds, dtype: object
Team: LVA Odds: 1    -155
Name: ML Odds, dtype: object
Team: LVA Odds: 2    -118
Name: ML Odds, dtype: object
Team: LVA Odds: 1    -235
Name: ML Odds, dtype: object
Team: LVA Odds: 0    -150
Name: ML Odds, dtype: object
Team: LVA Odds: 4    -650
Name: ML Odds, dtype: object
Team: LVA Odds: 7    -620
Name: ML Odds, dtype: object
Team: LVA Odds: 2    -265
Name: ML Odds, dtype: object
Team: LVA Odds: 3    -200
Name: ML Odds, dtype: object
Team: LVA Odds: 3    -1300
Name: ML Odds, dtype: object
Team: LVA Odds: 3    -305
Name: ML Odds, dtype: object
Team: LVA Odds: 0    -125
Name: ML Odds, dtype: object
Team: LVA Odds: 3    -925
Name: ML Odds, dtype: object
Team: LVA Odds: 1    -450
Name: ML Odds, dtype: object
Team: LVA Odds: 0    -200
Name: ML Odds, dtype: object
Team: LVA Odds: 4    -190
Name: ML Odds, dtype: object
Team: LVA Odds: 0    +195
Name: ML Odds, dtype: object

In [14]:
db.to_csv(f'{file}', index = False)

## Below is for troubleshooting

In [9]:
url = 'https://www.sportsbookreview.com/betting-odds/wnba-basketball/?date=20180703'

In [10]:
res = requests.get(url, 'html.parser')
soup = bs4.BeautifulSoup(res.text, 'lxml')
linesoup = soup.find('div', {'id':'bettingOddsGridContainer'})
games = soup.find('div', {'class':'_1eZfC'})

In [19]:
pd.read_html(str(games), flavor = 'bs4', attrs = {'class':'_1eZfC'})

ValueError: No tables found

In [211]:
spreadfile = '16Spreads.csv'

In [212]:
spreaddb = pd.read_csv(f'{spreadfile}')

### Scraping lines remnants from NBA scraper

In [132]:
# Point spread scrape
scraped_dates = []
spreaddb = pd.DataFrame()

for date in db['Date']:
    if date not in scraped_dates:
        print("Date: ", date)
        url = f'https://www.sportsbookreview.com/betting-odds/wnba-basketball/pointspread/?date={date}'
        res = requests.get(url, 'html.parser')
        res.raise_for_status()
        soup = bs4.BeautifulSoup(res.text, 'lxml')
        linesoup = soup.find('div', {'id':'bettingOddsGridContainer'})
        test_teams = linesoup.find_all('span', {'class':'_3O1Gx'})
        teams = [team_abbrevs[team.get_text()] for team in test_teams]
        test_lines = linesoup.find_all('span', {'class':'_3Nv_7 opener'})
        lines = [line.get_text() for line in test_lines if line.get_text().startswith('-') or line.get_text().startswith('+') or line.get_text().startswith('P')]
        print("teams:",len(teams),"lines",len(lines))
        
        if len(teams) != len(lines):
            lines = [np.nan for team in teams]
            spread = {'Team':teams, 'Spread': lines, 'Date':[date]*len(lines)}
            spreads = pd.DataFrame.from_dict(spread)
            spreaddb = pd.concat([spreaddb, spreads])
            scraped_dates.append(date)
            
        else:
            spread = {'Team':teams, 'Spread': lines, 'Date':[date]*len(lines)}
            spreads = pd.DataFrame.from_dict(spread)
            spreaddb = pd.concat([spreaddb, spreads])
            scraped_dates.append(date)

# spreaddb.to_csv('19Spreads.csv', index = False)

Date:  20170513
teams: 6 lines 6
Date:  20170519
teams: 6 lines 6
Date:  20170521
teams: 4 lines 4
Date:  20170527
teams: 4 lines 4
Date:  20170531
teams: 4 lines 4
Date:  20170604
teams: 4 lines 4
Date:  20170607
teams: 4 lines 4
Date:  20170610
teams: 6 lines 6
Date:  20170613
teams: 4 lines 4
Date:  20170615
teams: 4 lines 4
Date:  20170623
teams: 10 lines 10
Date:  20170630
teams: 6 lines 6
Date:  20170702
teams: 4 lines 4
Date:  20170705
teams: 6 lines 6
Date:  20170707
teams: 4 lines 4
Date:  20170709
teams: 4 lines 4
Date:  20170712
teams: 8 lines 8
Date:  20170715
teams: 2 lines 2
Date:  20170718
teams: 4 lines 4
Date:  20170719
teams: 8 lines 8
Date:  20170725
teams: 12 lines 12
Date:  20170728
teams: 12 lines 12
Date:  20170730
teams: 12 lines 12
Date:  20170803
teams: 2 lines 2
Date:  20170805
teams: 4 lines 4
Date:  20170808
teams: 6 lines 6
Date:  20170811
teams: 4 lines 4
Date:  20170812
teams: 8 lines 8
Date:  20170815
teams: 2 lines 2
Date:  20170819
teams: 2 lines 2
Date:  20170823
teams: 6 lines 6
Date:  20170826
teams: 4 lines 4
Date:  20170901
teams: 10 lines 10
Date:  20170903
teams: 10 lines 10
Date:  20170514
teams: 8 lines 8
Date:  20170524
teams: 4 lines 4
Date:  20170526
teams: 6 lines 6
Date:  20170606
teams: 6 lines 6
Date:  20170609
teams: 6 lines 6
Date:  20170611
teams: 6 lines 6
Date:  20170618
teams: 8 lines 8
Date:  20170625
teams: 6 lines 6
Date:  20170627
teams: 4 lines 4
Date:  20170629
teams: 4 lines 4
Date:  20170708
teams: 6 lines 6
Date:  20170714
teams: 6 lines 6
Date:  20170716
teams: 8 lines 8
Date:  20170804
teams: 10 lines 10
Date:  20170806
teams: 6 lines 6
Date:  20170816
teams: 4 lines 4
Date:  20170818
teams: 10 lines 10
Date:  20170820
teams: 8 lines 8
Date:  20170825
teams: 6 lines 6
Date:  20170829
teams: 2 lines 2
Date:  20170520
teams: 4 lines 4
Date:  20170523
teams: 4 lines 4
Date:  20170528
teams: 6 lines 6
Date:  20170603
teams: 6 lines 6
Date:  20170614
teams: 2 lines 2
Date:  20170617
teams: 2 lines 2
Date:  20170701
teams: 4 lines 4
Date:  20170713
teams: 2 lines 2
Date:  20170601
teams: 2 lines 2
Date:  20170616
teams: 4 lines 4
Date:  20170628
teams: 2 lines 2
Date:  20170720
teams: 4 lines 4
Date:  20170810
teams: 4 lines 4
Date:  20170827
teams: 6 lines 6
Date:  20170830
teams: 4 lines 4
Date:  20170518
teams: 2 lines 2
Date:  20170530
teams: 4 lines 4
Date:  20170602
teams: 2 lines 2
Date:  20170706
teams: 4 lines 4
Date:  20170801
teams: 2 lines 2
Date:  20170813
teams: 2 lines 2
Date:  20170517
teams: 2 lines 2
Date:  20170624
teams: 2 lines 2
Date:  20170717
teams: 2 lines 2
Date:  20170902
teams: 2 lines 2
Date:  20170822
teams: 4 lines 4
Date:  20170824
teams: 2 lines 2
Date:  20170525
teams: 2 lines 2
Date:  20170621
teams: 2 lines 2

In [220]:
db['Line'] = np.zeros(len(db['Team']))

In [221]:
spreaddb = spreaddb.replace('LVA', 'SAS')

In [222]:
#db['Odds'][0] = moneydb[(moneydb['Date'] == date) & (moneydb['Team'] == db['Team'][0])]['ML Odds']
#db['Line'][0] = spreaddb[(spreaddb['Date'] == date) & (spreaddb['Team'] == db['Team'][0])]['Spread']

#moneydb.reset_index(drop = True, inplace = True)
spreaddb.reset_index(drop = True, inplace = True)

In [223]:
for i, spread in enumerate(spreaddb['Spread']):
    if type(spread) == str:
        spreaddb['Spread'][i] = re.sub("", ".5", spread)
    else:
        pass
    
spreaddb['Spread'] = spreaddb['Spread'].replace('PK',0)

In [224]:
#spreaddb['Spread'] = spreaddb['Spread'].replace('PK',0)
spreaddb['Spread'] = spreaddb['Spread'].apply(lambda x: float(x))

In [225]:
spreaddb['Date'].apply(lambda x: int(x))
db.Date = db['Date'].apply(lambda x: int(x))
#moneydb['Date'].apply(lambda x: int(x))
#moneydb['ML Odds'] = moneydb['ML Odds'].apply(lambda x: int(x))

In [226]:
for i, date in enumerate(db['Date']):
    
    mask = (spreaddb['Date'] == date) & (spreaddb['Team'] == db['Team'][i])
    if any(mask):
        db['Line'][i] = spreaddb[mask]['Spread']
        print("Team:", db['Team'][i], "Spread:", spreaddb[(spreaddb['Date'] == date) & (spreaddb['Team'] == db['Team'][i])]['Spread'])
    else:
        db['Line'][i] = np.nan

/Users/ahelgeso/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/ahelgeso/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

Team: ATL Spread: 2    5.5
Name: Spread, dtype: float64
Team: ATL Spread: 7    4.0
Name: Spread, dtype: float64
Team: ATL Spread: 10    8.0
Name: Spread, dtype: float64
Team: ATL Spread: 18    3.5
Name: Spread, dtype: float64
Team: ATL Spread: 21   -3.0
Name: Spread, dtype: float64
Team: ATL Spread: 26   -5.5
Name: Spread, dtype: float64
Team: ATL Spread: 37   -11.0
Name: Spread, dtype: float64
Team: ATL Spread: 45    4.5
Name: Spread, dtype: float64
Team: ATL Spread: 47   -10.5
Name: Spread, dtype: float64
Team: ATL Spread: 53   -1.5
Name: Spread, dtype: float64
Team: ATL Spread: 58    2.5
Name: Spread, dtype: float64
Team: ATL Spread: 63    1.5
Name: Spread, dtype: float64
Team: ATL Spread: 66   -4.0
Name: Spread, dtype: float64
Team: ATL Spread: 70    2.5
Name: Spread, dtype: float64
Team: ATL Spread: 74    12.5
Name: Spread, dtype: float64
Team: ATL Spread: 81    1.5
Name: Spread, dtype: float64
Team: ATL Spread: 83   -3.5
Name: Spread, dtype: float64
Team: ATL Spread: 89   -2.5
Name: Spread, dtype: float64
Team: ATL Spread: 96   -3.0
Name: Spread, dtype: float64
Team: ATL Spread: 106    6.5
Name: Spread, dtype: float64
Team: ATL Spread: 116    3.5
Name: Spread, dtype: float64
Team: ATL Spread: 125    6.5
Name: Spread, dtype: float64
Team: ATL Spread: 136    12.0
Name: Spread, dtype: float64
Team: ATL Spread: 143   -4.0
Name: Spread, dtype: float64
Team: ATL Spread: 152    5.0
Name: Spread, dtype: float64
Team: ATL Spread: 159   -2.0
Name: Spread, dtype: float64
Team: ATL Spread: 173   -3.5
Name: Spread, dtype: float64
Team: ATL Spread: 179    2.5
Name: Spread, dtype: float64
Team: ATL Spread: 184    9.0
Name: Spread, dtype: float64
Team: ATL Spread: 194    6.5
Name: Spread, dtype: float64
Team: ATL Spread: 203   -10.0
Name: Spread, dtype: float64
Team: ATL Spread: 209   -1.0
Name: Spread, dtype: float64
Team: ATL Spread: 212    9.0
Name: Spread, dtype: float64
Team: WAS Spread: 219   -2.0
Name: Spread, dtype: float64
Team: WAS Spread: 1    5.5
Name: Spread, dtype: float64
Team: WAS Spread: 222    6.0
Name: Spread, dtype: float64
Team: WAS Spread: 228    3.5
Name: Spread, dtype: float64
Team: WAS Spread: 24    8.5
Name: Spread, dtype: float64
Team: WAS Spread: 233    2.0
Name: Spread, dtype: float64
Team: WAS Spread: 30    9.5
Name: Spread, dtype: float64
Team: WAS Spread: 36    11.0
Name: Spread, dtype: float64
Team: WAS Spread: 234    3.5
Name: Spread, dtype: float64
Team: WAS Spread: 237    7.0
Name: Spread, dtype: float64
Team: WAS Spread: 244   -1.0
Name: Spread, dtype: float64
Team: WAS Spread: 59   -2.5
Name: Spread, dtype: float64
Team: WAS Spread: 65   -3.5
Name: Spread, dtype: float64
Team: WAS Spread: 253   -1.5
Name: Spread, dtype: float64
Team: WAS Spread: 263    8.0
Name: Spread, dtype: float64
Team: WAS Spread: 267   -10.5
Name: Spread, dtype: float64
Team: WAS Spread: 276    3.5
Name: Spread, dtype: float64
Team: WAS Spread: 282   -4.5
Name: Spread, dtype: float64
Team: WAS Spread: 104    9.5
Name: Spread, dtype: float64
Team: WAS Spread: 112    4.5
Name: Spread, dtype: float64
Team: WAS Spread: 122   -2.5
Name: Spread, dtype: float64
Team: WAS Spread: 133    2.5
Name: Spread, dtype: float64
Team: WAS Spread: 141    8.0
Name: Spread, dtype: float64
Team: WAS Spread: 286    5.5
Name: Spread, dtype: float64
Team: WAS Spread: 163   -9.0
Name: Spread, dtype: float64
Team: WAS Spread: 290    13.0
Name: Spread, dtype: float64
Team: WAS Spread: 168    3.0
Name: Spread, dtype: float64
Team: WAS Spread: 299    1.5
Name: Spread, dtype: float64
Team: WAS Spread: 303   -3.0
Name: Spread, dtype: float64
Team: WAS Spread: 189    0.0
Name: Spread, dtype: float64
Team: WAS Spread: 198    6.0
Name: Spread, dtype: float64
Team: WAS Spread: 208    1.0
Name: Spread, dtype: float64
Team: WAS Spread: 311   -2.0
Name: Spread, dtype: float64
Team: CON Spread: 316   -2.0
Name: Spread, dtype: float64
Team: CON Spread: 223   -6.0
Name: Spread, dtype: float64
Team: CON Spread: 227    8.0
Name: Spread, dtype: float64
Team: CON Spread: 318    4.0
Name: Spread, dtype: float64
Team: CON Spread: 322    10.0
Name: Spread, dtype: float64
Team: CON Spread: 27    5.5
Name: Spread, dtype: float64
Team: CON Spread: 35    2.5
Name: Spread, dtype: float64
Team: CON Spread: 41    2.0
Name: Spread, dtype: float64
Team: CON Spread: 46    10.5
Name: Spread, dtype: float64
Team: CON Spread: 245    1.0
Name: Spread, dtype: float64
Team: CON Spread: 325    7.0
Name: Spread, dtype: float64
Team: CON Spread: 329   -4.5
Name: Spread, dtype: float64
Team: CON Spread: 258    6.0
Name: Spread, dtype: float64
Team: CON Spread: 264    15.5
Name: Spread, dtype: float64
Team: CON Spread: 272    12.5
Name: Spread, dtype: float64
Team: CON Spread: 336    10.0
Name: Spread, dtype: float64
Team: CON Spread: 339    11.5
Name: Spread, dtype: float64
Team: CON Spread: 97    3.0
Name: Spread, dtype: float64
Team: CON Spread: 108    8.5
Name: Spread, dtype: float64
Team: CON Spread: 115    11.0
Name: Spread, dtype: float64
Team: CON Spread: 126    8.5
Name: Spread, dtype: float64
Team: CON Spread: 134    4.5
Name: Spread, dtype: float64
Team: CON Spread: 146    6.5
Name: Spread, dtype: float64
Team: CON Spread: 149    9.0
Name: Spread, dtype: float64
Team: CON Spread: 158    2.0
Name: Spread, dtype: float64
Team: CON Spread: 341   -9.0
Name: Spread, dtype: float64
Team: CON Spread: 289    3.0
Name: Spread, dtype: float64
Team: CON Spread: 174    11.0
Name: Spread, dtype: float64
Team: CON Spread: 304    5.0
Name: Spread, dtype: float64
Team: CON Spread: 187    1.5
Name: Spread, dtype: float64
Team: CON Spread: 201    2.0
Name: Spread, dtype: float64
Team: CON Spread: 345   -5.0
Name: Spread, dtype: float64
Team: CON Spread: 310    2.0
Name: Spread, dtype: float64
Team: CHI Spread: 215    1.0
Name: Spread, dtype: float64
Team: CHI Spread: 6   -4.0
Name: Spread, dtype: float64
Team: CHI Spread: 13    1.5
Name: Spread, dtype: float64
Team: CHI Spread: 14   -8.0
Name: Spread, dtype: float64
Team: CHI Spread: 22    2.5
Name: Spread, dtype: float64
Team: CHI Spread: 232   -2.0
Name: Spread, dtype: float64
Team: CHI Spread: 31   -9.5
Name: Spread, dtype: float64
Team: CHI Spread: 42    1.0
Name: Spread, dtype: float64
Team: CHI Spread: 50    2.5
Name: Spread, dtype: float64
Team: CHI Spread: 250    7.5
Name: Spread, dtype: float64
Team: CHI Spread: 52    1.5
Name: Spread, dtype: float64
Team: CHI Spread: 357   -14.5
Name: Spread, dtype: float64
Team: CHI Spread: 254    3.0
Name: Spread, dtype: float64
Team: CHI Spread: 269   -7.5
Name: Spread, dtype: float64
Team: CHI Spread: 277   -3.5
Name: Spread, dtype: float64
Team: CHI Spread: 84    10.0
Name: Spread, dtype: float64
Team: CHI Spread: 91   -1.5
Name: Spread, dtype: float64
Team: CHI Spread: 101   -3.0
Name: Spread, dtype: float64
Team: CHI Spread: 111    4.0
Name: Spread, dtype: float64
Team: CHI Spread: 121   -4.5
Name: Spread, dtype: float64
Team: CHI Spread: 130   -2.0
Name: Spread, dtype: float64
Team: CHI Spread: 360    3.0
Name: Spread, dtype: float64
Team: CHI Spread: 147   -6.5
Name: Spread, dtype: float64
Team: CHI Spread: 153   -5.0
Name: Spread, dtype: float64
Team: CHI Spread: 160    1.0
Name: Spread, dtype: float64
Team: CHI Spread: 293   -4.0
Name: Spread, dtype: float64
Team: CHI Spread: 171   -12.0
Name: Spread, dtype: float64
Team: CHI Spread: 298   -1.5
Name: Spread, dtype: float64
Team: CHI Spread: 300    4.5
Name: Spread, dtype: float64
Team: CHI Spread: 186   -1.5
Name: Spread, dtype: float64
Team: CHI Spread: 205    4.5
Name: Spread, dtype: float64
Team: CHI Spread: 349   -3.0
Name: Spread, dtype: float64
Team: CHI Spread: 314    3.0
Name: Spread, dtype: float64
Team: NYL Spread: 221   -2.0
Name: Spread, dtype: float64
Team: NYL Spread: 11   -8.0
Name: Spread, dtype: float64
Team: NYL Spread: 321    5.5
Name: Spread, dtype: float64
Team: NYL Spread: 29   -4.0
Name: Spread, dtype: float64
Team: NYL Spread: 38   -3.5
Name: Spread, dtype: float64
Team: NYL Spread: 364    8.0
Name: Spread, dtype: float64
Team: NYL Spread: 238   -6.0
Name: Spread, dtype: float64
Team: NYL Spread: 243   -8.5
Name: Spread, dtype: float64
Team: NYL Spread: 324   -7.0
Name: Spread, dtype: float64
Team: NYL Spread: 330   -2.5
Name: Spread, dtype: float64
Team: NYL Spread: 62   -1.5
Name: Spread, dtype: float64
Team: NYL Spread: 255   -3.0
Name: Spread, dtype: float64
Team: NYL Spread: 261   -5.0
Name: Spread, dtype: float64
Team: NYL Spread: 270    9.0
Name: Spread, dtype: float64
Team: NYL Spread: 278    3.5
Name: Spread, dtype: float64
Team: NYL Spread: 78    7.5
Name: Spread, dtype: float64
Team: NYL Spread: 281   -7.5
Name: Spread, dtype: float64
Team: NYL Spread: 90    1.5
Name: Spread, dtype: float64
Team: NYL Spread: 99   -13.5
Name: Spread, dtype: float64
Team: NYL Spread: 107   -6.5
Name: Spread, dtype: float64
Team: NYL Spread: 118    8.5
Name: Spread, dtype: float64
Team: NYL Spread: 127   -8.5
Name: Spread, dtype: float64
Team: NYL Spread: 132   -2.5
Name: Spread, dtype: float64
Team: NYL Spread: 367   -5.5
Name: Spread, dtype: float64
Team: NYL Spread: 150   -8.0
Name: Spread, dtype: float64
Team: NYL Spread: 368   -2.0
Name: Spread, dtype: float64
Team: NYL Spread: 373   -2.5
Name: Spread, dtype: float64
Team: NYL Spread: 297   -7.5
Name: Spread, dtype: float64
Team: NYL Spread: 305   -5.0
Name: Spread, dtype: float64
Team: NYL Spread: 192   -2.5
Name: Spread, dtype: float64
Team: NYL Spread: 199   -6.0
Name: Spread, dtype: float64
Team: NYL Spread: 348    3.0
Name: Spread, dtype: float64
Team: IND Spread: 217    2.0
Name: Spread, dtype: float64
Team: IND Spread: 3   -5.5
Name: Spread, dtype: float64
Team: IND Spread: 16    11.0
Name: Spread, dtype: float64
Team: IND Spread: 20    3.0
Name: Spread, dtype: float64
Team: IND Spread: 231   -7.0
Name: Spread, dtype: float64
Team: IND Spread: 28    4.0
Name: Spread, dtype: float64
Team: IND Spread: 34   -2.5
Name: Spread, dtype: float64
Team: IND Spread: 43   -1.0
Name: Spread, dtype: float64
Team: IND Spread: 49   -6.0
Name: Spread, dtype: float64
Team: IND Spread: 246    13.0
Name: Spread, dtype: float64
Team: IND Spread: 54   -4.5
Name: Spread, dtype: float64
Team: IND Spread: 331    2.5
Name: Spread, dtype: float64
Team: IND Spread: 64    3.5
Name: Spread, dtype: float64
Team: IND Spread: 68    4.0
Name: Spread, dtype: float64
Team: IND Spread: 268    7.5
Name: Spread, dtype: float64
Team: IND Spread: 275   -8.0
Name: Spread, dtype: float64
Team: IND Spread: 284    11.0
Name: Spread, dtype: float64
Team: IND Spread: 94    7.0
Name: Spread, dtype: float64
Team: IND Spread: 102    1.5
Name: Spread, dtype: float64
Team: IND Spread: 109   -8.5
Name: Spread, dtype: float64
Team: IND Spread: 117   -3.5
Name: Spread, dtype: float64
Team: IND Spread: 359    6.5
Name: Spread, dtype: float64
Team: IND Spread: 366    5.5
Name: Spread, dtype: float64
Team: IND Spread: 287   -5.5
Name: Spread, dtype: float64
Team: IND Spread: 343   -1.5
Name: Spread, dtype: float64
Team: IND Spread: 369    2.0
Name: Spread, dtype: float64
Team: IND Spread: 176    9.0
Name: Spread, dtype: float64
Team: IND Spread: 180   -6.5
Name: Spread, dtype: float64
Team: IND Spread: 301   -4.5
Name: Spread, dtype: float64
Team: IND Spread: 188    0.0
Name: Spread, dtype: float64
Team: IND Spread: 200   -2.0
Name: Spread, dtype: float64
Team: IND Spread: 347    3.5
Name: Spread, dtype: float64
Team: IND Spread: 309   -7.0
Name: Spread, dtype: float64
Team: SEA Spread: 4    11.5
Name: Spread, dtype: float64
Team: SEA Spread: 9    9.0
Name: Spread, dtype: float64
Team: SEA Spread: 229   -3.5
Name: Spread, dtype: float64
Team: SEA Spread: 319   -4.0
Name: Spread, dtype: float64
Team: SEA Spread: 230    7.0
Name: Spread, dtype: float64
Team: SEA Spread: 33    2.5
Name: Spread, dtype: float64
Team: SEA Spread: 39    3.5
Name: Spread, dtype: float64
Team: SEA Spread: 40   -2.0
Name: Spread, dtype: float64
Team: SEA Spread: 48    6.0
Name: Spread, dtype: float64
Team: SEA Spread: 248   -3.0
Name: Spread, dtype: float64
Team: SEA Spread: 326    3.5
Name: Spread, dtype: float64
Team: SEA Spread: 333    11.0
Name: Spread, dtype: float64
Team: SEA Spread: 259   -6.0
Name: Spread, dtype: float64
Team: SEA Spread: 71   -2.5
Name: Spread, dtype: float64
Team: SEA Spread: 77   -1.5
Name: Spread, dtype: float64
Team: SEA Spread: 82    3.5
Name: Spread, dtype: float64
Team: SEA Spread: 280    7.5
Name: Spread, dtype: float64
Team: SEA Spread: 92   -3.0
Name: Spread, dtype: float64
Team: SEA Spread: 103   -1.5
Name: Spread, dtype: float64
Team: SEA Spread: 123    2.5
Name: Spread, dtype: float64
Team: SEA Spread: 131    2.0
Name: Spread, dtype: float64
Team: SEA Spread: 139   -7.0
Name: Spread, dtype: float64
Team: SEA Spread: 144    14.5
Name: Spread, dtype: float64
Team: SEA Spread: 155    8.0
Name: Spread, dtype: float64
Team: SEA Spread: 164    11.5
Name: Spread, dtype: float64
Team: SEA Spread: 375   -3.0
Name: Spread, dtype: float64
Team: SEA Spread: 292    4.0
Name: Spread, dtype: float64
Team: SEA Spread: 172    3.5
Name: Spread, dtype: float64
Team: SEA Spread: 296    7.5
Name: Spread, dtype: float64
Team: SEA Spread: 302    3.0
Name: Spread, dtype: float64
Team: SEA Spread: 197    2.5
Name: Spread, dtype: float64
Team: SEA Spread: 210    5.0
Name: Spread, dtype: float64
Team: SEA Spread: 315   -3.0
Name: Spread, dtype: float64
Team: PHO Spread: 216   -2.0
Name: Spread, dtype: float64
Team: PHO Spread: 5   -11.5
Name: Spread, dtype: float64
Team: PHO Spread: 377    3.0
Name: Spread, dtype: float64
Team: PHO Spread: 25   -8.5
Name: Spread, dtype: float64
Team: PHO Spread: 323   -10.0
Name: Spread, dtype: float64
Team: PHO Spread: 32   -2.5
Name: Spread, dtype: float64
Team: PHO Spread: 362    9.5
Name: Spread, dtype: float64
Team: PHO Spread: 379   -11.5
Name: Spread, dtype: float64
Team: PHO Spread: 51   -2.5
Name: Spread, dtype: float64
Team: PHO Spread: 56    7.5
Name: Spread, dtype: float64
Team: PHO Spread: 61   -7.0
Name: Spread, dtype: float64
Team: PHO Spread: 354   -1.5
Name: Spread, dtype: float64
Team: PHO Spread: 252    1.5
Name: Spread, dtype: float64
Team: PHO Spread: 260    5.0
Name: Spread, dtype: float64
Team: PHO Spread: 273   -12.5
Name: Spread, dtype: float64
Team: PHO Spread: 279   -3.5
Name: Spread, dtype: float64
Team: PHO Spread: 80   -1.5
Name: Spread, dtype: float64
Team: PHO Spread: 86    0.0
Name: Spread, dtype: float64
Team: PHO Spread: 95   -7.0
Name: Spread, dtype: float64
Team: PHO Spread: 100    3.0
Name: Spread, dtype: float64
Team: PHO Spread: 113   -4.5
Name: Spread, dtype: float64
Team: PHO Spread: 381   -8.0
Name: Spread, dtype: float64
Team: PHO Spread: 361   -3.0
Name: Spread, dtype: float64
Team: PHO Spread: 157   -6.0
Name: Spread, dtype: float64
Team: PHO Spread: 167    4.5
Name: Spread, dtype: float64
Team: PHO Spread: 342    1.5
Name: Spread, dtype: float64
Team: PHO Spread: 288   -3.0
Name: Spread, dtype: float64
Team: PHO Spread: 372    2.5
Name: Spread, dtype: float64
Team: PHO Spread: 178   -2.5
Name: Spread, dtype: float64
Team: PHO Spread: 195   -6.5
Name: Spread, dtype: float64
Team: PHO Spread: 206    3.5
Name: Spread, dtype: float64
Team: PHO Spread: 211   -5.0
Name: Spread, dtype: float64
Team: PHO Spread: 312   -7.5
Name: Spread, dtype: float64
Team: LAS Spread: 0   -5.5
Name: Spread, dtype: float64
Team: LAS Spread: 220    2.0
Name: Spread, dtype: float64
Team: LAS Spread: 12   -1.5
Name: Spread, dtype: float64
Team: LAS Spread: 226   -8.0
Name: Spread, dtype: float64
Team: LAS Spread: 383   -16.5
Name: Spread, dtype: float64
Team: LAS Spread: 386   -10.0
Name: Spread, dtype: float64
Team: LAS Spread: 365   -8.0
Name: Spread, dtype: float64
Team: LAS Spread: 240   -7.0
Name: Spread, dtype: float64
Team: LAS Spread: 251   -7.5
Name: Spread, dtype: float64
Team: LAS Spread: 57   -7.5
Name: Spread, dtype: float64
Team: LAS Spread: 353   -2.5
Name: Spread, dtype: float64
Team: LAS Spread: 256    2.5
Name: Spread, dtype: float64
Team: LAS Spread: 265   -15.5
Name: Spread, dtype: float64
Team: LAS Spread: 73   -12.0
Name: Spread, dtype: float64
Team: LAS Spread: 75   -12.5
Name: Spread, dtype: float64
Team: LAS Spread: 79   -7.5
Name: Spread, dtype: float64
Team: LAS Spread: 285   -11.0
Name: Spread, dtype: float64
Team: LAS Spread: 105   -9.5
Name: Spread, dtype: float64
Team: LAS Spread: 110   -4.0
Name: Spread, dtype: float64
Team: LAS Spread: 114   -11.0
Name: Spread, dtype: float64
Team: LAS Spread: 124   -6.5
Name: Spread, dtype: float64
Team: LAS Spread: 358   -6.5
Name: Spread, dtype: float64
Team: LAS Spread: 140   -8.0
Name: Spread, dtype: float64
Team: LAS Spread: 154   -8.0
Name: Spread, dtype: float64
Team: LAS Spread: 166   -4.5
Name: Spread, dtype: float64
Team: LAS Spread: 370   -12.5
Name: Spread, dtype: float64
Team: LAS Spread: 294   -7.5
Name: Spread, dtype: float64
Team: LAS Spread: 177   -9.0
Name: Spread, dtype: float64
Team: LAS Spread: 183   -2.5
Name: Spread, dtype: float64
Team: LAS Spread: 185   -9.0
Name: Spread, dtype: float64
Team: LAS Spread: 196   -2.5
Name: Spread, dtype: float64
Team: LAS Spread: 207   -3.5
Name: Spread, dtype: float64
Team: LAS Spread: 351   -12.5
Name: Spread, dtype: float64
Team: MIN Spread: 214   -1.0
Name: Spread, dtype: float64
Team: MIN Spread: 8   -9.0
Name: Spread, dtype: float64
Team: MIN Spread: 376   -3.0
Name: Spread, dtype: float64
Team: MIN Spread: 17   -11.0
Name: Spread, dtype: float64
Team: MIN Spread: 320   -5.5
Name: Spread, dtype: float64
Team: MIN Spread: 385   -14.0
Name: Spread, dtype: float64
Team: MIN Spread: 363   -9.5
Name: Spread, dtype: float64
Team: MIN Spread: 44   -4.5
Name: Spread, dtype: float64
Team: MIN Spread: 236   -7.0
Name: Spread, dtype: float64
Team: MIN Spread: 247   -13.0
Name: Spread, dtype: float64
Team: MIN Spread: 332   -11.0
Name: Spread, dtype: float64
Team: MIN Spread: 352    2.5
Name: Spread, dtype: float64
Team: MIN Spread: 257   -2.5
Name: Spread, dtype: float64
Team: MIN Spread: 262   -8.0
Name: Spread, dtype: float64
Team: MIN Spread: 271   -9.0
Name: Spread, dtype: float64
Team: MIN Spread: 335   -16.0
Name: Spread, dtype: float64
Team: MIN Spread: 85   -10.0
Name: Spread, dtype: float64
Team: MIN Spread: 338   -11.5
Name: Spread, dtype: float64
Team: MIN Spread: 389   -11.0
Name: Spread, dtype: float64
Team: MIN Spread: 390   -13.0
Name: Spread, dtype: float64
Team: MIN Spread: 119   -8.5
Name: Spread, dtype: float64
Team: MIN Spread: 128   -8.5
Name: Spread, dtype: float64
Team: MIN Spread: 137   -12.0
Name: Spread, dtype: float64
Team: MIN Spread: 145   -14.5
Name: Spread, dtype: float64
Team: MIN Spread: 148   -9.0
Name: Spread, dtype: float64
Team: MIN Spread: 165   -11.5
Name: Spread, dtype: float64
Team: MIN Spread: 291   -13.0
Name: Spread, dtype: float64
Team: MIN Spread: 175   -11.0
Name: Spread, dtype: float64
Team: MIN Spread: 182    2.5
Name: Spread, dtype: float64
Team: MIN Spread: 190   -13.0
Name: Spread, dtype: float64
Team: MIN Spread: 204   -4.5
Name: Spread, dtype: float64
Team: MIN Spread: 346   -3.5
Name: Spread, dtype: float64
Team: MIN Spread: 213   -9.0
Name: Spread, dtype: float64
Team: DAL Spread: 218    2.0
Name: Spread, dtype: float64
Team: DAL Spread: 225   -11.0
Name: Spread, dtype: float64
Team: DAL Spread: 19   -3.5
Name: Spread, dtype: float64
Team: DAL Spread: 23   -2.5
Name: Spread, dtype: float64
Team: DAL Spread: 384    14.0
Name: Spread, dtype: float64
Team: DAL Spread: 235   -3.5
Name: Spread, dtype: float64
Team: DAL Spread: 241    7.0
Name: Spread, dtype: float64
Team: DAL Spread: 242    8.5
Name: Spread, dtype: float64
Team: DAL Spread: 327   -3.5
Name: Spread, dtype: float64
Team: DAL Spread: 60    7.0
Name: Spread, dtype: float64
Team: DAL Spread: 355    1.5
Name: Spread, dtype: float64
Team: DAL Spread: 393   -9.0
Name: Spread, dtype: float64
Team: DAL Spread: 69   -4.0
Name: Spread, dtype: float64
Team: DAL Spread: 72    12.0
Name: Spread, dtype: float64
Team: DAL Spread: 76    1.5
Name: Spread, dtype: float64
Team: DAL Spread: 337   -10.0
Name: Spread, dtype: float64
Team: DAL Spread: 87    0.0

In [203]:
#db.to_csv(f'{file}', index = False)

In [227]:
db['Cover'] = np.zeros(len(db['Team']))

In [ ]:
## for i in range(len(db['Cover'])):
    cover = db['Team Score'][i] + db['Line'][i] - db['Opp Score'][i]
    if cover > 0:
        db['Cover'][i] = 1
    elif cover < 0:
        db['Cover'][i] = -1
    else:
        db['Cover'][i] = 0

In [229]:
db.to_csv(f'{file}', index = False)

In [230]:
spreaddb.to_csv(f'{spreadfile}', index = False)

In [176]:
spreaddb[(spreaddb['Date'] == db['Date'][0]) & (spreaddb['Team'] == db['Team'][0])]

Empty DataFrame
Columns: [Team, Spread, Date]
Index: []

In [186]:
mask = (spreaddb['Date'] == db['Date'][1]) & (spreaddb['Team'] == db['Team'][1])

In [189]:
db

,Team,Opp,Game Num,Date,Team Score,Opp Score,Result,Location,TSP,TOV,...,Opp R4TSP,Opp R4TOV,Opp R4ORB,Opp R4FTR,Opp R4Poss,Opp R4OEff,Opp R4DEff,Odds,0,Line
0,ATL,SAS,1,20160514,73,63,1,0,0.473288,0.162831,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ATL,IND,2,20160520,85,94,0,0,0.552810,0.214548,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,205.0,0.327869,5.5
2,ATL,CHI,3,20160522,87,81,1,1,0.502078,0.054561,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,160.0,0.384615,4.0
3,ATL,NYL,4,20160524,85,79,1,0,0.449831,0.144823,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,290.0,0.256410,8.0
4,ATL,DAL,5,20160527,102,93,1,0,0.617733,0.126904,...,0.510871,0.131757,0.312669,0.326065,77.7216,106.138819,100.370394,165.0,0.377358,3.5
5,ATL,IND,6,20160529,85,76,1,1,0.517788,0.108601,...,0.521178,0.147577,0.256467,0.287726,82.3488,102.306886,102.170606,-200.0,0.666667,-3.0
6,ATL,CON,7,20160603,83,77,1,0,0.509578,0.164204,...,0.498652,0.156795,0.277003,0.220787,82.8384,96.591285,106.941612,-225.0,0.692308,-5.5
7,ATL,WAS,8,20160605,79,86,0,1,0.500761,0.092081,...,0.539686,0.153512,0.274567,0.307978,76.5600,105.611311,110.896934,-600.0,0.857143,-11.0
8,ATL,MIN,9,20160610,78,110,0,1,0.479823,0.181305,...,0.525783,0.138970,0.199488,0.221424,79.0368,101.779262,89.755659,190.0,0.344828,4.5
9,ATL,CON,10,20160612,93,87,1,1,0.572378,0.137946,...,0.522644,0.173877,0.232813,0.199077,81.9456,98.289117,105.874250,-650.0,0.866667,-10.5
10,ATL,CHI,11,20160617,101,97,1,1,0.550589,0.089357,...,0.562506,0.143333,0.288502,0.181541,75.1392,112.032702,99.684668,105.0,0.487805,-1.5
11,ATL,WAS,12,20160618,65,95,0,0,0.494823,0.242270,...,0.521453,0.137740,0.256592,0.325140,77.3088,103.988548,109.792348,155.0,0.392157,2.5
12,ATL,NYL,13,20160622,79,90,0,1,0.411973,0.102919,...,0.537729,0.164267,0.428394,0.327386,76.6464,110.706920,101.229931,105.0,0.487805,1.5
13,ATL,SAS,14,20160625,69,73,0,0,0.473121,0.151304,...,0.554956,0.163619,0.179485,0.262929,80.1216,103.064806,110.907705,-185.0,0.649123,-4.0
14,ATL,SEA,15,20160628,81,84,0,0,0.510333,0.131349,...,0.575685,0.169147,0.174168,0.339100,78.1344,105.909629,109.307525,130.0,0.434783,2.5
15,ATL,LAS,16,20160630,75,84,0,0,0.459784,0.155344,...,0.549974,0.149767,0.257821,0.225445,76.9056,108.045453,99.269183,600.0,0.142857,12.5
16,ATL,PHO,17,20160703,87,95,0,1,0.500460,0.084282,...,0.601222,0.125643,0.202161,0.374426,78.5952,117.964513,111.480114,115.0,0.465116,1.5
17,ATL,SEA,18,20160705,77,64,1,1,0.492076,0.123263,...,0.589749,0.169463,0.169297,0.260521,74.8320,108.156113,107.637571,-165.0,0.622642,-3.5
18,ATL,DAL,19,20160708,95,90,1,1,0.512074,0.097314,...,0.551126,0.138236,0.332886,0.279402,74.2272,113.537027,116.144368,-140.0,0.583333,-2.5
19,ATL,CON,20,20160710,67,63,1,0,0.451239,0.177305,...,0.505493,0.147487,0.272064,0.137138,78.1824,101.160905,103.748333,-150.0,0.600000,-3.0
20,ATL,NYL,21,20160713,62,86,0,0,0.401971,0.124830,...,0.522157,0.149279,0.321668,0.226858,78.4800,105.461799,103.207337,260.0,0.277778,6.5
21,ATL,IND,22,20160715,72,78,0,0,0.527241,0.199343,...,0.572975,0.139584,0.226950,0.160584,73.2576,110.930711,110.384396,145.0,0.408163,3.5
22,ATL,LAS,23,20160717,91,74,1,1,0.550581,0.098210,...,0.578059,0.144738,0.226483,0.225104,76.4544,111.887782,108.337047,240.0,0.294118,6.5
23,ATL,MIN,24,20160720,65,83,0,0,0.466418,0.196124,...,0.532806,0.097808,0.388930,0.189121,77.0112,117.219843,90.169312,600.0,0.142857,12.0
24,ATL,DAL,25,20160722,93,88,1,1,0.558357,0.143914,...,0.477625,0.115376,0.219464,0.223200,78.9024,97.123013,115.500601,-170.0,0.629630,-4.0
25,ATL,CHI,26,20160826,82,90,0,0,0.564427,0.141777,...,0.545054,0.118647,0.313889,0.230669,76.7424,113.678280,111.006294,175.0,0.363636,5.0
26,ATL,CON,27,20160828,87,73,1,1,0.524349,0.144389,...,0.536364,0.131346,0.301189,0.290127,77.9712,109.276554,107.025721,-150.0,0.600000,-2.0
27,ATL,SEA,28,20160904,82,91,0,1,0.529442,0.104118,...,0.530858,0.146956,0.252277,0.255576,74.2080,104.061001,104.209349,-165.0,0.622642,-3.5
28,ATL,PHO,29,20160906,91,87,1,1,0.562006,0.138357,...,0.566767,0.183004,0.258778,0.285949,75.6192,106.463972,95.898574,125.0,0.444444,2.5
29,ATL,LAS,30,20160908,86,81,1,0,0.548190,0.132685,...,0.588001,0.168706,0.203568,0.246693,71.2800,109.797189,102.505342,360.0,0.217391,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,SAS,LAS,5,20160602,61,68,0,0,0.416894,0.150882,...,0.571622,0.110199,0.165455,0.259091,81.8784,112.451716,87.407094,NaN,NaN,NaN
379,SAS,LAS,6,20160604,61,74,0,1,0.428612,0.101061,...,0.557377,0.131692,0.163531,0.256699,81.3984,106.977062,89.917527,450.0,0.181818,NaN
380,SAS,PHO,7,20160609,75,90,0,0,0.525504,0.173692,...,0.572733,0.126875,0.213875,0.339482,77.1168,113.835420,107.990105,500.0,0.166667,NaN
381,SAS,NYL,8,20160611,75,90,0,1,0.456871,0.108601,...,0.514432,0.149718,0.255420,0.226448,81.4560,101.366061,92.466100,310.0,0.243902,NaN
382,SAS,SEA,9,20160614,77,70,1,1,0.522530,0.149977,...,0.609151,0.164288,0.297939,0.305176,72.8352,117.915858,114.478610,130.0,0.434783,NaN
383,SAS,IND,10,20160617,75,84,0,1,0.532066,0.185014,...,0.497034,0.138993,0.247579,0.192940,74.3328,99.005122,106.840399,175.0,0.363636,NaN
384,SAS,CON,11,20160619,90,93,0,0,0.635593,0.155131,...,0.501705,0.152012,0.257614,0.203597,80.9472,98.686725,105.468947,170.0,0.370370,NaN
385,SAS,CHI,12,20160621,75,81,0,0,0.512856,0.179533,...,0.553000,0.134156,0.323758,0.173574,73.9680,113.508045,108.278266,700.0,0.125000,NaN
386,SAS,DAL,13,20160623,90,97,0,0,0.539310,0.134799,...,0.554747,0.172174,0.348351,0.321499,83.9232,109.099676,113.307007,360.0,0.217391,NaN
387,SAS,ATL,14,20160625,73,69,1,1,0.456022,0.111062,...,0.507441,0.143123,0.269027,0.287996,83.8848,100.464307,110.625411,160.0,0.384615,NaN
388,SAS,WAS,15,20160629,67,84,0,0,0.471565,0.134081,...,0.564034,0.150513,0.192238,0.350792,82.9824,107.177246,94.155427,435.0,0.186916,NaN
389,SAS,IND,16,20160701,87,85,1,0,0.539167,0.182408,...,0.526451,0.155534,0.274677,0.304760,76.3584,102.835758,103.764292,290.0,0.256410,NaN
390,SAS,MIN,17,20160702,68,91,0,0,0.412221,0.117672,...,0.498835,0.172737,0.284861,0.197995,78.2976,96.451890,110.903841,1500.0,0.062500,NaN
391,SAS,WAS,18,20160706,77,70,1,1,0.490571,0.059895,...,0.564486,0.121468,0.217262,0.313874,73.1328,111.723798,96.667648,210.0,0.322581,NaN
392,SAS,SEA,19,20160708,68,78,0,1,0.531582,0.179579,...,0.533904,0.161519,0.180210,0.202214,75.1104,100.058365,106.309887,120.0,0.454545,NaN
393,SAS,NYL,20,20160710,65,75,0,0,0.435657,0.138568,...,0.529389,0.150678,0.289576,0.214584,80.1120,105.498209,103.308674,675.0,0.129032,NaN
394,SAS,MIN,21,20160712,57,81,0,1,0.431557,0.185094,...,0.554944,0.119100,0.312622,0.252089,79.4496,113.492826,93.731410,550.0,0.153846,NaN
395,SAS,PHO,22,20160716,64,83,0,0,0.503778,0.191034,...,0.564618,0.166360,0.151373,0.254995,77.5680,104.075413,109.940857,325.0,0.235294,NaN
396,SAS,SEA,23,20160720,69,83,0,0,0.456349,0.116822,...,0.579696,0.134541,0.204138,0.178711,72.4992,113.143054,103.808266,260.0,0.277778,NaN
397,SAS,NYL,24,20160826,77,84,0,1,0.505780,0.126263,...,0.499194,0.147490,0.368078,0.231095,76.4160,104.298570,98.373352,320.0,0.238095,NaN
398,SAS,WAS,25,20160828,85,74,1,0,0.582192,0.170455,...,0.484471,0.146369,0.199878,0.191511,74.7360,93.725042,114.590448,400.0,0.200000,NaN
399,SAS,CON,26,20160830,62,89,0,0,0.472561,0.233645,...,0.535269,0.120644,0.302642,0.303948,77.4912,110.770392,106.413102,350.0,0.222222,NaN
400,SAS,LAS,27,20160901,61,70,0,1,0.452522,0.151134,...,0.577281,0.199594,0.287879,0.165856,74.2080,107.059011,106.812822,525.0,0.160000,NaN
401,SAS,CHI,28,20160904,73,97,0,0,0.488752,0.096759,...,0.553683,0.099557,0.293152,0.244304,77.7024,116.806166,112.254953,575.0,0.148148,NaN
402,SAS,IND,29,20160906,69,71,0,1,0.512173,0.151210,...,0.519658,0.142004,0.240929,0.251238,76.6656,102.027876,110.409956,240.0,0.294118,NaN
403,SAS,DAL,30,20160909,84,92,0,1,0.522908,0.100761,...,0.465873,0.119605,0.244345,0.200332,78.6144,95.892995,113.015725,160.0,0.384615,NaN
404,SAS,MIN,31,20160911,76,81,0,1,0.472872,0.110668,...,0.560875,0.127922,0.324586,0.272703,73.2672,114.854264,103.029976,650.0,0.133333,NaN
405,SAS,ATL,32,20160913,71,67,1,0,0.505986,0.185701,...,0.533655,0.143917,0.294076,0.248756,78.3840,106.502125,110.060065,380.0,0.208333,NaN
406,SAS,LAS,33,20160916,65,71,0,0,0.509085,0.179856,...,0.541306,0.122285,0.170196,0.249646,71.9712,106.145706,112.185873,600.0,0.142857,NaN
407,SAS,PHO,34,20160918,65,81,0,1,0.432411,0.085200,...,0.550153,0.125277,0.278301,0.268250,76.5504,112.461379,103.637343,285.0,0.259740,NaN