In [12]:
from datetime import datetime
from datetime import timedelta
import requests, bs4
import re
import pandas as pd
import os

In [2]:
url = 'https://www.basketball-reference.com/boxscores/201910230PHI.html'
res = requests.get(url, 'html_parser')
res.raise_for_status()
soup = bs4.BeautifulSoup(res.text, 'lxml')

In [24]:
os.chdir(os.getcwd()+'/Stat Sheets')

In [3]:
q1_box = soup.find('table',{'id':'box-BOS-q1-basic'})

In [4]:
q1_df = pd.read_html(str(q1_box),flavor='bs4')[0]

In [5]:
q1_df['Unnamed: 0_level_0'].drop([5],axis=0).reset_index(drop=True)

           Starters
0      Jayson Tatum
1    Gordon Hayward
2      Kemba Walker
3       Enes Kanter
4      Jaylen Brown
5      Marcus Smart
6    Carsen Edwards
7   Robert Williams
8      Daniel Theis
9      Semi Ojeleye
10   Grant Williams
11   Brad Wanamaker
12  Vincent Poirier
13      Team Totals

In [6]:
q1_df['Basic Box Score Stats'].drop([5], axis =0).reset_index(drop=True)['MP']

0            12:00
1             4:47
2             7:36
3             7:57
4             6:17
5             7:13
6             4:24
7              NaN
8             4:03
9             5:43
10             NaN
11             NaN
12    Did Not Play
13             240
Name: MP, dtype: object

In [11]:
q1_df

   Unnamed: 0_level_0 Basic Box Score Stats                              \
             Starters                    MP            FG           FGA
0        Jayson Tatum                 12:00             3             9
1      Gordon Hayward                  4:47             1             3
2        Kemba Walker                  7:36             1             3
3         Enes Kanter                  7:57             2             2
4        Jaylen Brown                  6:17             2             3
5            Reserves                    MP            FG           FGA
6        Marcus Smart                  7:13             0             1
7      Carsen Edwards                  4:24             0             1
8     Robert Williams                   NaN           NaN           NaN
9        Daniel Theis                  4:03             0             1
10       Semi Ojeleye                  5:43             0             0
11     Grant Williams                   NaN           NaN           NaN
12     Brad Wanamaker                   NaN           NaN           NaN
13    Vincent Poirier          Did Not Play  Did Not Play  Did Not Play
14        Team Totals                   240            33            90

                                                                          \
             FG%            3P           3PA           3P%            FT
0           .333             2             5          .400             0
1           .333             0             0           NaN             1
2           .333             0             2          .000             2
3          1.000             0             0           NaN             0
4           .667             0             0           NaN             0
5            FG%            3P           3PA           3P%            FT
6           .000             0             1          .000             0
7           .000             0             1          .000             0
8            NaN           NaN           NaN           NaN           NaN
9           .000             0             1          .000             2
10           NaN             0             0           NaN             0
11           NaN           NaN           NaN           NaN           NaN
12           NaN           NaN           NaN           NaN           NaN
13  Did Not Play  Did Not Play  Did Not Play  Did Not Play  Did Not Play
14          .367             7            26          .269            20

                  ...                                                          \
             FTA  ...           ORB           DRB           TRB           AST
0              0  ...             0             4             4             2
1              2  ...             0             0             0             0
2              2  ...             0             0             0             0
3              0  ...             1             2             3             0
4              1  ...             0             2             2             0
5            FTA  ...           ORB           DRB           TRB           AST
6              0  ...             0             0             0             3
7              0  ...             0             0             0             0
8            NaN  ...           NaN           NaN           NaN           NaN
9              2  ...             1             0             1             0
10             0  ...             0             1             1             0
11           NaN  ...           NaN           NaN           NaN           NaN
12           NaN  ...           NaN           NaN           NaN           NaN
13  Did Not Play  ...  Did Not Play  Did Not Play  Did Not Play  Did Not Play
14            34  ...            10            31            41            18

                                                                          \
             STL           BLK           TOV            PF           PTS
0              0             0             1             0             8
1              0             0             0             2             3
2              0             0             0             2             4
3              0             0             0             0             4
4              1             0             0             2             4
5            STL           BLK           TOV            PF           PTS
6              0             0             0             0             0
7              0             0             0             0             0
8            NaN           NaN           NaN           NaN           NaN
9              0             1             0             0             2
10             0             0             0             0             0
11           NaN           NaN           NaN           NaN           NaN
12           NaN           NaN           NaN           NaN           NaN
13  Did Not Play  Did Not Play  Did Not Play  Did Not Play  Did Not Play
14             4             2            10            29            93


             +/-
0             +5
1             +4
2             +3
3             +6
4             -1
5            +/-
6             +1
7             +2
8            NaN
9             -1
10            +6
11           NaN
12           NaN
13  Did Not Play
14           NaN

[15 rows x 21 columns]

In [22]:
q1_df['Basic Box Score Stats'][:-1][['FG','FGA','3P','3PA']]

              FG           FGA            3P           3PA
0              3             9             2             5
1              1             3             0             0
2              1             3             0             2
3              2             2             0             0
4              2             3             0             0
5             FG           FGA            3P           3PA
6              0             1             0             1
7              0             1             0             1
8            NaN           NaN           NaN           NaN
9              0             1             0             1
10             0             0             0             0
11           NaN           NaN           NaN           NaN
12           NaN           NaN           NaN           NaN
13  Did Not Play  Did Not Play  Did Not Play  Did Not Play